@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
.form-box {
  max-width: 850px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 30px 15px;
  margin-bottom: 30px;
}

.form-title {
  color: #5a5a5a;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 16px;
  margin: 35px 0 50px;
}
@media (max-width: 768px) {
  .form-title {
    margin: 25px 0 30px;
  }
}

.form-msg {
  color: #86e0bb;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1.5;
  text-align: center;
  padding-top: 10px;
}

.form-user-booking-result {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 60px;
}
.form-user-booking-result .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #616161;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-all;
}
.form-user-booking-result .item .col {
  padding: 5px 0;
}
.form-user-booking-result .item .col:nth-child(1) {
  position: relative;
  text-align: left;
  -webkit-box-flex: 110px;
      -ms-flex: 110px;
          flex: 110px;
  max-width: 110px;
  min-width: 110px;
}
@media (max-width: 768px) {
  .form-user-booking-result .item .col:nth-child(1) {
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .form-user-booking-result .item .col:nth-child(1) {
    -webkit-box-flex: 130px;
        -ms-flex: 130px;
            flex: 130px;
    max-width: 130px;
    min-width: 130px;
  }
}
.form-user-booking-result .item .col:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 1px;
  bottom: 0;
  background-color: #e5e5e5;
}
.form-user-booking-result .item .col:nth-child(2) {
  text-align: left;
  padding-left: 10px;
  color: #616161;
  font-size: 16px;
}
@media (min-width: 992px) {
  .form-user-booking-result .item .col:nth-child(2) {
    padding-left: 20px;
  }
}

.btn-bottom {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .btn-bottom {
    display: inline-block;
    margin-bottom: -34px;
  }
}
.btn-bottom .btn-default {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .btn-bottom .btn-default {
    min-width: 200px;
    width: auto;
    display: inline-block;
    margin-right: 16px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.form-inner {
  max-width: 720px;
  width: 80%;
  margin: 0 auto;
}
.form-inner.title-align-right .form-col:nth-child(1) {
  text-align: right;
}
@media (max-width: 768px) {
  .form-inner {
    width: 100%;
  }
}
.form-inner.mt-50 {
  padding-top: 50px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  text-align: left;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group .msg {
  color: #6a6a6a;
  font-size: 15px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .form-group .msg {
    display: block;
    padding-top: 8px;
  }
}
.form-group .form-col:nth-child(1) {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  min-width: 100px;
  max-width: 155px;
  text-align: right;
  text-align: left;
  color: #616161;
  font-size: 18px;
  line-height: 1.2;
  padding-right: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .form-group .form-col:nth-child(1) {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    min-width: 25%;
    max-width: 155px;
  }
}
.form-group .form-col:nth-child(1) small {
  font-size: 15px;
}
.form-group .form-col:nth-child(2) {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
}

.custom-option {
  display: block;
  position: relative;
  background-color: #f1f1f1;
  padding: 8px 12px;
  padding-left: 40px;
  margin-bottom: 8px;
  cursor: pointer;
}
.custom-option span {
  display: inline-block;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
}
.custom-option input {
  display: none;
}
.custom-option input:checked + .btn-radio::before {
  opacity: 1;
}
.custom-option .btn-radio {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #848484;
  background-color: #fff;
}
.custom-option .btn-radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #848484;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacify 0.5s ease;
  transition: opacify 0.5s ease;
}

@media (min-width: 576px) {
  .time-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -3px;
    margin-right: -3px;
  }
  .time-items .item {
    -webkit-box-flex: 33.3%;
        -ms-flex: 33.3%;
            flex: 33.3%;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .time-items.col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
  .time-items.col-2 .item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.custom-option-light {
  display: block;
  position: relative;
  padding: 8px 12px;
  padding-left: 40px;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
}
.custom-option-light .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #aed3cc;
  opacity: 0;
}
.custom-option-light span {
  display: inline-block;
  color: #616161;
  font-size: 16px;
  line-height: 1;
  position: relative;
  z-index: 2;
}
.custom-option-light input {
  display: none;
}
.custom-option-light input:checked + .btn-radio {
  border-color: #fff;
}
.custom-option-light input:checked + .btn-radio::before {
  opacity: 1;
}
.custom-option-light input:checked ~ .bg {
  opacity: 1;
}
.custom-option-light input:checked ~ span {
  color: white;
}
.custom-option-light .btn-radio {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #6d6d6d;
  z-index: 2;
}
.custom-option-light .btn-radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacify 0.5s ease;
  transition: opacify 0.5s ease;
}

.user-result {
  background-color: #aed3cc;
  padding: 13px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: none;
}
.user-result .space-line {
  margin: 15px -13px;
  height: 2px;
  width: auto;
  background-color: #fff;
}
.user-result.show {
  display: block;
}
.user-result p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}
.user-result input:checked + .btn-radio {
  border-color: #aed3cc;
}
.user-result input:checked + .btn-radio::before {
  opacity: 1;
  background-color: #aed3cc;
}
.user-result input:checked ~ .bg {
  opacity: 1;
}

.custom-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #f1f1f1;
  color: #616161;
  font-size: 16px;
  line-height: 1;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 0;
  min-height: 39px;
}
@media (max-width: 768px) {
  .custom-input {
    padding: 8px 15px;
    min-height: 35px;
  }
}
.custom-input::-webkit-input-placeholder {
  color: #616161;
  text-align: center;
}
.custom-input::-moz-placeholder {
  color: #616161;
  text-align: center;
}
.custom-input:-ms-input-placeholder {
  color: #616161;
  text-align: center;
}
.custom-input::-ms-input-placeholder {
  color: #616161;
  text-align: center;
}
.custom-input::placeholder {
  color: #616161;
  text-align: center;
}
.custom-input[readonly] {
  min-height: 20px;
  background: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.custom-input[readonly]:focus {
  border: none;
}

.custom-input-white {
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #f1f1f1;
  color: #616161;
  font-size: 16px;
  line-height: 1;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 189px;
  text-align: center;
}
@media (max-width: 768px) {
  .custom-input-white {
    max-width: calc(100% - 42px);
    padding: 8px 15px;
    min-height: 35px;
  }
}
.custom-input-white.full {
  max-width: calc(100% - 42px);
}
.custom-input-white::-webkit-input-placeholder {
  color: #6a6a6a;
}
.custom-input-white::-moz-placeholder {
  color: #6a6a6a;
}
.custom-input-white:-ms-input-placeholder {
  color: #6a6a6a;
}
.custom-input-white::-ms-input-placeholder {
  color: #6a6a6a;
}
.custom-input-white::placeholder {
  color: #6a6a6a;
}

.btn-default {
  margin: 0 auto;
  margin-bottom: -32px;
  width: 200px;
  height: 55px;
  border-radius: 65px;
  border: 1px solid #fff;
  background-color: #fed28b;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 992px) {
  .btn-default {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    width: 200px;
    height: 55px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .btn-default {
    margin-bottom: -32px;
    width: 262px;
    height: 65px;
    border-radius: 65px;
  }
}
.btn-default a {
  color: #645236;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 55px;
}
@media (min-width: 992px) {
  .btn-default a {
    font-size: 24px;
    line-height: 55px;
  }
}
@media (min-width: 1200px) {
  .btn-default a {
    font-size: 25px;
    line-height: 65px;
  }
}

.btn-date {
  display: inline-block;
  width: 37px;
  height: 37px;
  background: url(../images/ico-date.png) no-repeat center;
  vertical-align: middle;
}

.checkbox {
  position: relative;
  cursor: pointer;
  text-align: left;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .checkbox {
    padding-top: 20px;
  }
}
.checkbox.member-detail {
  padding-left: 170px;
  padding-top: 0;
}
@media (max-width: 768px) {
  .checkbox.member-detail {
    padding-left: 0;
  }
  .checkbox.member-detail .btn {
    margin: 0 auto;
  }
}
.checkbox.member-detail label.checkbox-inlineblock {
  display: block;
  margin-bottom: 20px;
}
.checkbox label.checkbox-inlineblock {
  display: inline-block;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .checkbox label.checkbox-inlineblock {
    display: block;
  }
}
.checkbox .btn {
  display: inline-block;
  width: 138px;
}
@media (max-width: 768px) {
  .checkbox .btn {
    display: block;
    margin: 0;
    margin-top: 40px;
  }
}

label.checkbox-inlineblock {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: 30px;
  margin-right: 20px;
}
label.checkbox-inlineblock span {
  color: #6a6a6a;
  font-size: 15px;
  line-height: 1.2;
}
label.checkbox-inlineblock span a {
  color: #6a6a6a;
}
label.checkbox-inlineblock input {
  display: none;
}
label.checkbox-inlineblock input:checked + .btn-checkbox::before, label.checkbox-inlineblock input:checked + .btn-radio::before {
  opacity: 1;
}
label.checkbox-inlineblock .btn-checkbox, label.checkbox-inlineblock .btn-radio {
  position: absolute;
  top: 4px;
  left: 0;
  width: 19px;
  height: 19px;
  border-radius: 2px;
  background-color: #f1f1f1;
  z-index: 2;
}
label.checkbox-inlineblock .btn-checkbox::before, label.checkbox-inlineblock .btn-radio::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #848484;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacify 0.5s ease;
  transition: opacify 0.5s ease;
}

.address-item {
  margin-bottom: 8px;
}

.form-box.member .form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-box.member .form-group.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.form-box.member .form-group.align-top .form-col:nth-child(1) {
  margin-top: 8px;
}

@media (max-width: 768px) {
  .form-box.member-form .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
    margin-bottom: 15px;
  }
  .form-box.member-form .form-col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    text-align: left !important;
    padding: 0;
  }
  .form-box.member-form input.custom-input[readonly] {
    padding: 0;
    min-height: 40px;
  }
}
@media (max-width: 768px) {
  .form-box.member-form .form-group.cloumn-style {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-box.member-form .form-group.cloumn-style .form-col:nth-child(1) {
    -webkit-box-flex: 130px;
        -ms-flex: 130px;
            flex: 130px;
    max-width: 130px;
    margin-bottom: 0;
  }
  .form-box.member-form .form-group.cloumn-style .form-col:nth-child(2) {
    -webkit-box-flex: calc(100% - 130px);
        -ms-flex: calc(100% - 130px);
            flex: calc(100% - 130px);
    max-width: calc(100% - 130px);
  }
}