@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
body, html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

#footer {
  padding: 28px 0;
  background-color: #acacac;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .footer_row {
    display: block;
  }
}

.footer_row-col {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .footer_row-col {
    margin-bottom: 25px;
  }
}

.footer_title {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .footer_title {
    margin-bottom: 10px;
  }
}
.footer_title a {
  color: white;
  text-decoration: none;
}
.footer_title a:hover {
  text-decoration: underline;
}

.footer_navigation {
  color: white;
  font-size: 13px;
  line-height: 1.5;
  font-weight: normal;
  padding-left: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .footer_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .footer_navigation.m-full {
    display: block;
    line-height: 2;
  }
  .footer_navigation.m-full a {
    margin-bottom: 5px;
  }
}
.footer_navigation li {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .footer_navigation li {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-bottom: 3px;
  }
}
.footer_navigation b {
  font-weight: normal;
}
.footer_navigation a {
  color: white;
  text-decoration: none;
}
.footer_navigation a:hover {
  text-decoration: underline;
}
.footer_navigation span {
  padding-right: 12px;
}
.footer_navigation span.slash {
  padding-left: 12px;
}

.footer_socail-media {
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .footer_socail-media {
    margin-top: -30px;
    margin-bottom: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.social-media_title {
  color: white;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  position: relative;
}
@media (max-width: 768px) {
  .social-media_title {
    width: calc(100% - 190px);
  }
}
.social-media_title::after {
  content: "";
  display: inline-block;
  width: 63px;
  height: 1px;
  background-color: #fff;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .social-media_title::after {
    width: calc(100% - 100px);
  }
}

.social-media_icons {
  padding-left: 0;
  list-style: none;
  vertical-align: middle;
  margin: 0;
}
.social-media_icons li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.social-media_icons li:last-child {
  margin-right: 0;
}

.footer_bottom-msg {
  text-align: center;
}
@media (max-width: 768px) {
  .footer_bottom-msg {
    padding-top: 10px;
  }
}
.footer_bottom-msg p, .footer_bottom-msg a {
  color: white;
  font-size: 13px;
  line-height: 1.7;
}
.footer_bottom-msg p:last-child, .footer_bottom-msg a:last-child {
  margin-bottom: 0;
}
.footer_bottom-msg a {
  text-decoration: underline;
}

.content-group {
  overflow: hidden;
  margin: 60px 0 120px;
}
@media (max-width: 768px) {
  .content-group {
    margin: 30px 0 60px;
  }
}
.content-group:last-child {
  margin-bottom: 0;
}

body.popup {
  overflow: hidden;
}

.content-titlebox {
  position: relative;
  display: inline-block;
  width: auto;
  text-align: left;
}
@media (min-width: 1200px) {
  .content-titlebox {
    width: 130px;
    text-align: right;
  }
}
.content-titlebox h3 {
  color: #86e0bb;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}
.content-titlebox .space-line {
  position: absolute;
  top: 45px;
  right: -3px;
  width: 1000px;
  height: 1px;
  background-color: #86e0bb;
}
.content-titlebox p {
  color: #616161;
  font-size: 16px;
  line-height: 1.5;
}
.content-titlebox p br {
  display: none;
}

.section-main {
  padding-right: 0;
  display: block;
}
@media (min-width: 1360px) {
  .section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-main .section-main_col {
  padding-left: 0;
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .section-main .section-main_col {
    -webkit-box-flex: calc(100% - 200px);
        -ms-flex: calc(100% - 200px);
            flex: calc(100% - 200px);
    max-width: calc(100% - 200px);
    padding-left: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-main .section-main_col:nth-child(1) {
    -webkit-box-flex: 200px;
        -ms-flex: 200px;
            flex: 200px;
    min-width: 200px;
    max-width: 200px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .section-main .section-main_col:nth-child(1) {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .photo-list {
    width: 80%;
    margin: 0 auto;
  }
}

.photo-list_group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  width: 100%;
}
.photo-list_group .swiper-slide {
  width: 100%;
}
@media (max-width: 768px) {
  .photo-list_group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.photo-list {
  position: relative;
  margin-bottom: 55px;
}
.photo-list .btnbox.right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 20px;
}
@media (max-width: 992px) {
  .photo-list .btnbox.right {
    position: relative;
    bottom: unset;
    right: unset;
    padding-right: 0;
    text-align: center;
    margin-top: 30px;
  }
}
.photo-list .btnbox.right .btn {
  display: inline-block;
  min-width: 138px;
  margin-top: -40px;
}
@media (max-width: 768px) {
  .photo-list .btnbox.right .btn {
    margin-top: 0;
  }
}

.photo-list_item {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.photo-list_item img {
  width: 100%;
}
@media (max-width: 768px) {
  .photo-list_item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 300px;
    padding-right: 15px;
    padding-bottom: 25px;
  }
}

.photo-list_item_group {
  position: relative;
  min-height: 460px;
  padding-right: 15px;
}
@media (max-width: 992px) {
  .photo-list_item_group {
    min-height: unset;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .photo-list_item_group {
    min-height: unset;
  }
  .photo-list_item_group:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .photo-list_item_group {
    padding-bottom: 0;
  }
}
.photo-list_item_group:last-child {
  margin-right: 0;
}
.photo-list_item_group a {
  display: block;
  position: relative;
  z-index: 20;
  text-decoration: none;
}
.photo-list_item_group a .name {
  color: #5a5a5a;
  text-decoration: none;
}
.photo-list_item_group a:hover .name {
  text-decoration: underline;
}
.photo-list_item_group .name {
  margin-top: 30px;
  padding-left: 38px;
  font-size: 22px;
  line-height: 1.5;
  position: relative;
}
@media (max-width: 768px) {
  .photo-list_item_group .name {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.photo-list_item_group .name::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 1px;
  background: #beada6;
}
@media (max-width: 992px) {
  .photo-list_item_group .name::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .photo-list_item_group .name::after {
    display: block;
    width: 30px;
    right: -22%;
    width: 20%;
  }
}
@media (max-width: 576px) {
  .photo-list_item_group .name::after {
    display: none !important;
  }
}
.photo-list_item_group .name p {
  margin: 0;
}
.photo-list_item_group .cover-bg {
  position: absolute;
  top: 46px;
  left: 17px;
  right: 0;
  bottom: 0;
  background-color: #faded2;
}
.photo-list_item_group:nth-child(even) .cover-bg {
  background-color: #f0ede6;
}

.service-steps_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 992px) {
  .service-steps_row {
    display: block;
  }
}
.service-steps_row .service-steps_col {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.service-steps_row .service-steps_col:nth-child(1) {
  position: relative;
  -webkit-box-flex: 130px;
      -ms-flex: 130px;
          flex: 130px;
  min-width: 130px;
  max-width: 130px;
}
@media (max-width: 992px) {
  .service-steps_row .service-steps_col:nth-child(1) {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
.service-steps_row .service-steps_col:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -95px;
  right: -8px;
  width: 1px;
  height: 190px;
  background-color: #e7e7e7;
}
@media (max-width: 992px) {
  .service-steps_row .service-steps_col:nth-child(1)::before {
    top: unset;
    right: unset;
    margin-top: unset;
    bottom: 0;
    width: 100%;
    height: 1px;
    left: 0;
  }
}
.service-steps_row .title {
  color: #565656;
  font-size: 25px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
}
.service-steps_row p {
  color: #5a5a5a;
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
}
.service-steps_row span {
  color: #616161;
  font-size: 15px;
  line-height: 1.5;
}

.service-cloumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 768px) {
  .service-cloumns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
}
.service-cloumns .item {
  -webkit-box-flex: 1666.6666666667%;
      -ms-flex: 1666.6666666667%;
          flex: 1666.6666666667%;
  max-width: 1666.6666666667%;
  padding: 0 16px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.service-cloumns .item img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .service-cloumns .item img {
    max-width: 60px;
  }
}
@media (max-width: 768px) {
  .service-cloumns .item {
    -webkit-box-flex: 33.3%;
        -ms-flex: 33.3%;
            flex: 33.3%;
    max-width: 33.3%;
    margin-bottom: 30px;
  }
  .service-cloumns .item:nth-child(3)::after {
    display: none;
  }
}
.service-cloumns .item:last-child {
  padding-right: 0;
}
.service-cloumns .item:not(.service-cloumns .item:last-child)::after {
  content: "";
  position: absolute;
  top: 35px;
  right: -8px;
  width: 23px;
  height: 16px;
  background: url(../images/service-stpes-arrow.png) no-repeat center;
  background-size: contain;
}
.service-cloumns .ico {
  max-width: 100%;
}
.service-cloumns p {
  margin-bottom: 5px;
}
.service-cloumns .ico {
  margin-bottom: 10px;
}

.recommend-list {
  position: relative;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .recommend-list {
    margin-top: 30px;
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .recommend-list {
    margin-top: 0;
    padding-top: 30px;
  }
}
.recommend-list .btnbox.right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 20px;
}
@media (max-width: 992px) {
  .recommend-list .btnbox.right {
    position: relative;
    bottom: unset;
    right: unset;
    padding-right: 0;
    text-align: center;
    margin-top: 30px;
  }
}
.recommend-list .btnbox.right .btn {
  display: inline-block;
  min-width: 138px;
  margin-top: -40px;
}
@media (max-width: 768px) {
  .recommend-list .btnbox.right .btn {
    margin-top: 0;
  }
}

.recommend-list_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  width: 100%;
}
@media (max-width: 992px) {
  .recommend-list_row {
    width: 81.25%;
    max-width: 550px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .recommend-list_row {
    width: 100%;
  }
}
.recommend-list_row .item {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 992px) {
  .recommend-list_row .item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .recommend-list_row .item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .recommend-list_row .item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .recommend-list_row .item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .recommend-list_row .item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
.recommend-list_row .item a {
  display: block;
  padding-right: 60px;
  padding-left: 254px;
  display: block;
  text-decoration: none;
  position: relative;
}
@media (max-width: 768px) {
  .recommend-list_row .item a {
    padding-right: 11.4285714286%;
    padding-left: 48.380952381%;
  }
}
.recommend-list_row .item .photo {
  position: relative;
  width: 100%;
  max-width: 192px;
  z-index: 20;
}
@media (max-width: 992px) {
  .recommend-list_row .item .photo {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .recommend-list_row .item .photo .img-over_img {
    width: 100%;
    height: 100%;
  }
  .recommend-list_row .item .photo img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.recommend-list_row .item .textbox {
  width: 200px;
}
@media (max-width: 768px) {
  .recommend-list_row .item .textbox {
    width: auto;
  }
}
.recommend-list_row img {
  display: block;
  width: 100%;
}
.recommend-list_row h3 {
  color: #5b5b5b;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 15px;
}
.recommend-list_row p {
  color: #616161;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.item1 .textbox-center {
  position: absolute;
  top: -34px;
  left: 0;
  bottom: 37px;
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  background-color: #aaafae;
}
@media (max-width: 768px) {
  .item1 .textbox-center {
    top: -20px;
    bottom: 20px;
  }
}
.item1 .textbox {
  padding-top: 34px;
  padding-left: 18px;
}
@media (max-width: 768px) {
  .item1 .textbox {
    padding-left: 15px;
    padding-right: 30%;
  }
}
.item1 .textbox h3, .item1 .textbox p {
  color: white;
}

@media (max-width: 992px) {
  .item2 a.img-over {
    padding-left: 12.7619047619%;
    padding-right: 47.0476190476%;
  }
}
.item2 .textbox-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 37px;
  width: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}
@media (max-width: 992px) {
  .item2 .textbox-center {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 44px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
}
@media (max-width: 768px) {
  .item2 .textbox {
    padding-left: 15px;
    padding-right: 20%;
  }
}
@media (max-width: 992px) {
  .item2 .textbox {
    padding-left: 18%;
    padding-right: 0;
  }
}

.item3 a.img-over {
  padding-left: 67px;
  padding-right: 247px;
}
@media (max-width: 992px) {
  .item3 a.img-over {
    padding-right: 11.4285714286%;
    padding-left: 48.380952381%;
  }
}
.item3 .textbox-center {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 44px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}
@media (max-width: 992px) {
  .item3 .textbox-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 37px;
    width: 51%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
}
.item3 .textbox {
  padding-left: 12%;
}
@media (min-width: 1200px) {
  .item3 .textbox {
    padding-left: 12%;
  }
}
@media (max-width: 992px) {
  .item3 .textbox {
    padding-left: 15px;
    padding-right: 20%;
  }
}

.item4 a.img-over {
  padding-left: 60px;
  padding-right: 254px;
}
@media (max-width: 768px) {
  .item4 a.img-over {
    padding-left: 11.4285714286%;
    padding-right: 48.380952381%;
  }
}
.item4 .textbox-center {
  position: absolute;
  top: -31px;
  left: 36%;
  bottom: 35px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  background-color: #f3c5c6;
}
.item4 .textbox {
  padding-top: 31px;
  padding-left: calc(60px + 15%);
}
@media (min-width: 992px) {
  .item4 .textbox {
    padding-left: 25%;
  }
}
@media (min-width: 1200px) {
  .item4 .textbox {
    padding-left: 28%;
  }
}
@media (max-width: 768px) {
  .item4 .textbox {
    padding-left: 32%;
    padding-right: 15px;
  }
}
.item4 .textbox h3, .item4 .textbox p {
  color: white;
}

.news-list {
  width: 100%;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .news-list {
    margin: 0 auto;
  }
}

.news_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}
@media (max-width: 768px) {
  .news_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}
.news_row .item {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.news_row .item:nth-child(even) .photo:before {
  background-color: #f0ede6 !important;
}
@media (max-width: 768px) {
  .news_row .item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: none;
  }
}
.news_row .item:nth-last-child(1), .news_row .item:nth-last-child(2) {
  border-color: white;
}
.news_row .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: #616161;
  font-size: 20px;
  line-height: 1.6;
}
.news_row .item .photo {
  position: relative;
  -webkit-box-flex: 165px;
      -ms-flex: 165px;
          flex: 165px;
  max-width: 165px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 14px;
  padding-bottom: 14px;
  width: auto;
  z-index: 20;
}
@media (max-width: 768px) {
  .news_row .item .photo {
    -webkit-box-flex: 130px;
        -ms-flex: 130px;
            flex: 130px;
    max-width: 130px;
    min-width: 130px;
    padding-right: 8px;
    padding-bottom: 8px;
    height: auto;
  }
}
.news_row .item .photo::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 33px;
  right: 0;
  bottom: 0;
  background-color: #faded2;
}
@media (max-width: 768px) {
  .news_row .item .photo::before {
    top: 18px;
    left: 18px;
  }
}
.news_row .item .photo img {
  position: relative;
  max-width: 100%;
  z-index: 20;
}
.news_row .item .textbox {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  z-index: 20;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.beauty-titlebox {
  width: 140px;
  text-align: center;
  position: relative;
  z-index: 50;
}
.beauty-titlebox .slash {
  display: block;
  width: 1px;
  height: 50px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: #b1b1b1;
  margin: 0 auto;
}
.beauty-titlebox .title {
  color: #565656;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0;
}
.beauty-titlebox .text {
  color: #616161;
  font-size: 15px;
  line-height: 1.5;
}
.beauty-titlebox a {
  color: #565656;
  text-decoration: none;
}
.beauty-titlebox a:hover {
  text-decoration: underline;
}

.beauty-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.beauty-group .beauty-group_col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.beauty-group .beauty-group_col:after {
  content: "";
  clear: both;
}
.beauty-group .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.beauty-group .group .group_col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
}
.beauty-group img {
  display: block;
  position: relative;
  max-width: 100%;
  z-index: 10;
}
.beauty-group.style1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -41px;
  padding-bottom: 106px;
}
@media (max-width: 992px) {
  .beauty-group.style1 {
    margin-top: 50px;
    padding-bottom: 60px;
  }
}
.beauty-group.style1 .beauty-titlebox {
  float: right;
}
.beauty-group.style1 .beauty-group_col {
  position: relative;
}
.beauty-group.style1 .beauty-group_col:nth-child(1) {
  padding-right: 3.125vw;
  -webkit-box-flex: 35.15625vw;
      -ms-flex: 35.15625vw;
          flex: 35.15625vw;
}
@media (max-width: 992px) {
  .beauty-group.style1 .beauty-group_col:nth-child(1) {
    padding-right: 30px;
    -webkit-box-flex: 25.4166666667%;
        -ms-flex: 25.4166666667%;
            flex: 25.4166666667%;
    max-width: 25.4166666667%;
    min-width: 140px;
  }
}
@media (max-width: 768px) {
  .beauty-group.style1 .beauty-group_col:nth-child(1) {
    padding-right: 15px;
  }
}
.beauty-group.style1 .beauty-group_col:nth-child(2) {
  padding-right: 0;
  -webkit-box-flex: 75.4166666667%;
      -ms-flex: 75.4166666667%;
          flex: 75.4166666667%;
  max-width: 75.4166666667%;
}
@media (max-width: 992px) {
  .beauty-group.style1 .beauty-group_col:nth-child(2) {
    padding-right: 0;
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .beauty-group.style1 .beauty-group_col:nth-child(2) img {
    width: 100%;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.beauty-group.style1 .box {
  position: absolute;
  top: 60px;
  left: 37.1747211896%;
  width: 28.3767038414%;
  padding-top: 70%;
  background-color: #faded2;
  z-index: 1;
}
@media (max-width: 992px) {
  .beauty-group.style1 .box {
    display: none;
  }
}
.beauty-group.style2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .beauty-group.style2 {
    display: none;
  }
}
.beauty-group.style2 img {
  width: 100%;
}
.beauty-group.style2 .box {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 132px;
  height: 110%;
  background-color: #f3c5c6;
  z-index: 1;
}
.beauty-group.style2 .group1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 41px;
}
.beauty-group.style2 .group1 .group_col {
  position: relative;
}
.beauty-group.style2 .group1 .group_col:nth-child(1) {
  padding-right: 2.0833333333vw;
  -webkit-box-flex: 13.3333333333vw;
      -ms-flex: 13.3333333333vw;
          flex: 13.3333333333vw;
  max-width: 13.3333333333vw;
}
.beauty-group.style2 .group1 .group_col:nth-child(1) .beauty-titlebox {
  float: right;
}
.beauty-group.style2 .group1 .group_col:nth-child(2) {
  -webkit-box-flex: 22.3958333333vw;
      -ms-flex: 22.3958333333vw;
          flex: 22.3958333333vw;
  max-width: 22.3958333333vw;
  padding-right: 5.46875vw;
}
.beauty-group.style2 .group2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 55px;
}
.beauty-group.style2 .group2 .beauty-titlebox {
  float: left;
}
.beauty-group.style2 .group2 .group_col:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 2.0833333333vw;
}
.beauty-group.style2 .group2 .group_col:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 3.125vw;
}
.beauty-group .beauty-group_col.style3 .group {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.beauty-group .beauty-group_col.style3 .group .group_col:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.beauty-group .beauty-group_col.style3 .group .group_col:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 50px;
}
.beauty-group.style4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 90px;
}
@media (max-width: 992px) {
  .beauty-group.style4 {
    padding-top: 40px;
    padding-bottom: 90px;
  }
}
@media (max-width: 576px) {
  .beauty-group.style4 {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.beauty-group.style4 .beauty-titlebox {
  float: right;
}
.beauty-group.style4 .beauty-group_col {
  position: relative;
}
.beauty-group.style4 .beauty-group_col:nth-child(1) {
  padding-right: 50px;
}
@media (max-width: 992px) {
  .beauty-group.style4 .beauty-group_col:nth-child(1) {
    -webkit-box-flex: 39.5%;
        -ms-flex: 39.5%;
            flex: 39.5%;
    max-width: 39.5%;
  }
}
@media (max-width: 768px) {
  .beauty-group.style4 .beauty-group_col:nth-child(1) {
    padding-right: 15px;
  }
}
@media (max-width: 992px) {
  .beauty-group.style4 .beauty-group_col:nth-child(2) {
    -webkit-box-flex: 60.5%;
        -ms-flex: 60.5%;
            flex: 60.5%;
    max-width: 60.5%;
  }
}
@media (max-width: 992px) {
  .beauty-group.style4 .beauty-group_col img {
    width: 52.479338843%;
  }
}
.beauty-group.style4 .box {
  position: absolute;
  top: 88px;
  left: 186px;
  width: 421px;
  height: 261px;
  background-color: #f0ede6;
  z-index: 1;
}
@media (max-width: 992px) {
  .beauty-group.style4 .box {
    top: 32%;
    left: 20%;
    width: 58.3333333333%;
    padding-top: 40%;
    height: auto;
  }
}
.beauty-group.style5 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
  margin-bottom: 110px;
}
@media (max-width: 992px) {
  .beauty-group.style5 {
    display: block;
    margin-bottom: 0;
  }
}
.beauty-group.style5 .beauty-group_col {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.beauty-group.style5 .beauty-group_col:nth-child(1) {
  -webkit-box-flex: 829px;
      -ms-flex: 829px;
          flex: 829px;
  max-width: 829px;
  padding-left: 67px;
}
@media (max-width: 992px) {
  .beauty-group.style5 .beauty-group_col:nth-child(1) {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding-right: 5%;
    margin-bottom: 60px;
  }
}
.beauty-group.style5 .beauty-group_col:nth-child(2) {
  -webkit-box-flex: 534px;
      -ms-flex: 534px;
          flex: 534px;
  max-width: 534px;
  padding-left: 50px;
}
@media (max-width: 992px) {
  .beauty-group.style5 .beauty-group_col:nth-child(2) {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .beauty-group.style5 .beauty-group_col:nth-child(2) .beauty-titlebox {
    margin: 0 auto;
  }
}
.beauty-group.style5 .box {
  position: absolute;
  top: 110px;
  right: 150px;
  width: 1100px;
  height: 204px;
  background-color: #faded2;
  z-index: 1;
}
@media (max-width: 992px) {
  .beauty-group.style5 .box {
    width: 95%;
    right: 20%;
    bottom: -40px;
    padding-top: 20%;
    height: unset;
    top: unset;
  }
}

.mob-style2 {
  display: none;
}
@media (max-width: 992px) {
  .mob-style2 {
    display: block;
  }
}

.beauty-group.mob-group1 .box {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 40%;
  height: 100%;
  background-color: #f3c5c6;
  z-index: 1;
}
@media (max-width: 992px) {
  .beauty-group.mob-group1 .group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 40px;
  }
  .beauty-group.mob-group1 .beauty-titlebox {
    float: right;
    margin-right: 15px;
  }
  .beauty-group.mob-group1 .group_col {
    position: relative;
  }
  .beauty-group.mob-group1 .group_col:nth-child(1) {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  .beauty-group.mob-group1 .group {
    padding-right: 20%;
  }
  .beauty-group.mob-group1 img {
    width: 100%;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .beauty-group.mob-group1 .box {
    position: absolute;
    top: 50%;
    left: -12%;
    width: 50%;
  }
}

@media (max-width: 992px) {
  .beauty-group.mob-group2 .style2 .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .beauty-group.mob-group2 .style2 .group .group_col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .beauty-group.mob-group2 .style2 .group img {
    margin-bottom: 20px;
    max-width: 60%;
  }
  .beauty-group.mob-group2 .style2 .group .beauty-titlebox, .beauty-group.mob-group2 .style2 .group img {
    float: right;
  }
}
@media (max-width: 576px) {
  .beauty-group.mob-group2 .style2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 80% !important;
  }
}
.beauty-group.mob-group2 .style3 .group {
  display: block;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.beauty-group.mob-group2 .style3 .group .group_col {
  position: relative;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
  padding-right: 0;
  padding-right: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-ordinal-group: unset !important;
      -ms-flex-order: unset !important;
          order: unset !important;
  text-align: center;
}
.beauty-group.mob-group2 .style3 .group img {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 60%;
}
.beauty-group.mob-group2 .style3 .group .beauty-titlebox {
  margin: 0 auto;
}
@media (max-width: 576px) {
  .beauty-group.mob-group2 .style3 img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 80% !important;
  }
}
.beauty-group.mob-group2 .style3 .box {
  position: absolute;
  top: -30px;
  right: 0;
  width: 40%;
  height: 80%;
  background-color: #faded2;
  z-index: 1;
}
@media (max-width: 576px) {
  .beauty-group.mob-group2 .style3 .box {
    right: -15%;
  }
}

.slide-peo-swiper, .recommend-swiper {
  position: relative;
  padding-bottom: 70px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .slide-peo-swiper, .recommend-swiper {
    padding-bottom: 40px;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #909090;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -3px;
}

.kvbox {
  margin-bottom: 100px;
  position: relative;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .kvbox {
    padding-top: 0;
  }
}
.kvbox .container {
  position: relative;
}

.kvbox_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kvbox_row .kvbox_col {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.kvbox_row .kvbox_col:after {
  content: "";
  clear: both;
}
.kvbox_row a, .kvbox_row img {
  display: block;
}
.kvbox_row.row1 .kvbox_col:nth-child(1) {
  -webkit-box-flex: 33.4558823529%;
      -ms-flex: 33.4558823529%;
          flex: 33.4558823529%;
  max-width: 33.4558823529%;
  padding-right: 35px;
}
.kvbox_row.row1 .kvbox_col:nth-child(2) {
  -webkit-box-flex: 66.7647058824%;
      -ms-flex: 66.7647058824%;
          flex: 66.7647058824%;
  max-width: 66.7647058824%;
  padding-right: 7.6470588235%;
}
.kvbox_row.row2 .kvbox_col:nth-child(1) {
  -webkit-box-flex: 47.8676470588%;
      -ms-flex: 47.8676470588%;
          flex: 47.8676470588%;
  max-width: 47.8676470588%;
}
.kvbox_row.row2 .kvbox_col:nth-child(2) {
  -webkit-box-flex: 52.6470588235%;
      -ms-flex: 52.6470588235%;
          flex: 52.6470588235%;
  max-width: 52.6470588235%;
}
.kvbox_row.m-row1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 20px;
}
.kvbox_row.m-row1 .kvbox_col:nth-child(1) {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding-top: 15px;
}
.kvbox_row.m-row1 .kvbox_col:nth-child(2) {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}
.kvbox_row.m-row1 a {
  display: block;
}
.kvbox_row.m-row2 .kvbox_col:nth-child(1) {
  -webkit-box-flex: 52.75%;
      -ms-flex: 52.75%;
          flex: 52.75%;
  max-width: 52.75%;
}
.kvbox_row.m-row2 .kvbox_col:nth-child(2) {
  -webkit-box-flex: 46.9166666667%;
      -ms-flex: 46.9166666667%;
          flex: 46.9166666667%;
  max-width: 46.9166666667%;
}
.kvbox_row.m-row2 .kvbox_col a {
  display: block;
}
@media (max-width: 992px) {
  .kvbox_row.m-row2 {
    margin-top: -20%;
  }
}
.kvbox_row img {
  max-width: 100%;
}

.banner-1 {
  position: relative;
  width: 65.9340659341%;
  position: relative;
  float: right;
  z-index: 200;
}
.banner-1 .box {
  display: block;
  position: absolute;
  top: 12%;
  left: -10.5494505495%;
  right: 24.2%;
  bottom: -15%;
  background-color: #f3c5c6;
  z-index: -20;
}
.banner-1 a {
  display: block;
  z-index: 100;
}
.banner-1 img {
  position: relative;
  z-index: 200;
}

.banner-2 {
  position: relative;
  float: left;
  width: 88.1057268722%;
  z-index: 100;
}
.banner-2 .box {
  display: block;
  position: absolute;
  top: 59.0625%;
  left: 38.3259911894%;
  right: -22%;
  bottom: -23%;
  background-color: #f0ede6;
  z-index: -1;
}
.banner-2 a {
  display: block;
  width: 100%;
}
.banner-2 img {
  position: relative;
  z-index: 50;
}

.banner-3 {
  position: relative;
  float: right;
  margin-top: -6%;
  width: 45.9293394777%;
}
.banner-3 .box {
  display: block;
  position: absolute;
  top: -30%;
  left: 40%;
  right: -10%;
  bottom: -10%;
  background-color: #faded2;
  z-index: -1;
}
.banner-3 img {
  display: block;
  position: relative;
  z-index: 10;
}

.m-banner-1 {
  position: relative;
  width: 85.5833333333%;
  position: relative;
  float: right;
  margin-bottom: 30px;
}
.m-banner-1 img {
  width: 100%;
}
.m-banner-1 .box {
  display: block;
  position: absolute;
  top: 30%;
  left: 40%;
  right: -20px;
  bottom: -20%;
  background-color: #f0ede6;
  z-index: -1;
}
.m-banner-1 a {
  position: relative;
  display: block;
  z-index: 100;
}

.m-banner-2 {
  position: relative;
  float: left;
  width: 33.3333333333%;
  margin-left: -20px;
}
.m-banner-2 .box {
  display: block;
  position: absolute;
  top: -30px;
  left: 75%;
  right: -22%;
  bottom: -10%;
  background-color: #faded2;
  z-index: -1;
}
.m-banner-2 a {
  display: block;
  width: 100%;
}
.m-banner-2 img {
  width: 100%;
}

.m-banner-3 {
  position: relative;
  float: right;
  width: 87.3889875666%;
}
.m-banner-3 .box {
  display: block;
  position: absolute;
  top: 20%;
  left: -15%;
  right: 30%;
  bottom: -10%;
  background-color: #f3c5c6;
  z-index: -1;
}
.m-banner-3 img {
  display: block;
  width: 100%;
}

.obj-box1 {
  position: absolute;
  top: -40px;
  right: 15px;
  width: 50px;
  height: 72px;
  background-color: #faded2;
  z-index: -1;
}
@media (max-width: 992px) {
  .obj-box1 {
    right: auto;
    left: -20px;
    top: 50%;
    width: 6.8333333333vw;
    height: 30%;
  }
}

.obj-box2 {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 85px;
  height: 85px;
  background-color: #f0ede6;
  z-index: -1;
}
@media (max-width: 992px) {
  .obj-box2 {
    position: absolute;
    top: -30%;
    right: 0;
    left: unset;
    width: 10vw;
    height: 20%;
    background-color: #f0ede6;
  }
}

.slogan {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #5c5c5c;
  width: 249px;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 400;
  text-align: center;
}
.slogan img {
  width: 100%;
}
@media (max-width: 992px) {
  .slogan {
    position: relative;
    top: unset;
    left: unset;
    width: 31.4166666667vw;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .slogan {
    font-size: 4.1666666667vw;
  }
}

@media (max-width: 992px) {
  .sloganbox {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}
.desktop {
  display: block;
}
@media (max-width: 992px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 992px) {
  .mobile {
    display: block;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3000;
  background-color: #fff;
}
@media (min-width: 1200px) {
  #header {
    height: 70px;
  }
}
@media (min-width: 1360px) {
  #header {
    height: 85px;
  }
}

.header-inner {
  padding-right: 15px;
}
.header-inner .logo {
  float: left;
  width: 230px;
}
@media (min-width: 1200px) {
  .header-inner .logo {
    width: 270px;
  }
}
@media (min-width: 1360px) {
  .header-inner .logo {
    width: 332px;
  }
}
@media (max-width: 414px) {
  .header-inner .logo {
    width: 170px !important;
    margin-top: 10px;
  }
}
.header-inner .logo img {
  max-width: 100%;
}
.header-inner nav {
  float: right;
}
@media (max-width: 992px) {
  .header-inner nav {
    float: none;
  }
}

.navigation-box {
  display: block;
}
@media (min-width: 992px) {
  .navigation-box {
    float: right;
    display: block !important;
  }
}
@media (max-width: 992px) {
  .navigation-box {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .navigation-box .scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

.menu ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  .menu ol {
    display: block;
  }
}
.menu a {
  display: block;
  padding: 0 15px;
  color: #222;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu a .item {
  line-height: 1;
}
@media (min-width: 992px) {
  .menu a {
    padding: 0 6px;
    font-size: 14px;
  }
}
@media (min-width: 1360px) {
  .menu a {
    padding: 0 16px;
    font-size: 16px;
  }
  .menu a:hover {
    text-decoration: underline;
  }
  .menu a .item {
    line-height: 1;
  }
}
@media (max-width: 992px) {
  .menu a {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 2;
  }
}

a.btn-tel {
  display: inline-block;
  color: #86e0bb;
  font-size: 20px;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  padding-right: 0;
  vertical-align: middle;
}
a.btn-tel:hover {
  text-decoration: none;
}
a.btn-tel i {
  display: inline-block;
  margin-right: 10px;
  padding-right: 0;
  vertical-align: middle;
}
@media (min-width: 1200px) {
  a.btn-tel i {
    margin-right: 10px;
    border-right: 1px solid #b0b0b0;
    padding-right: 16px;
  }
}
@media (min-width: 1200px) {
  a.btn-tel {
    font-size: 25px;
  }
}

a.pc-tel {
  display: block;
}
@media (max-width: 992px) {
  a.pc-tel {
    display: none;
  }
}

.ico-phone {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/ico-phone.png) no-repeat 0 0;
  vertical-align: middle;
  margin-right: 5px;
}

#index-main {
  padding-top: 80px;
}

.navParent, .navPrentChild {
  position: relative;
}

.navPrentChild:hover .navSubChild {
  opacity: 1;
  visibility: initial;
}

.menu {
  margin-top: 14px;
}
@media (max-width: 992px) {
  .menu {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .menu {
    margin-top: 15px;
  }
}
@media (min-width: 1360px) {
  .menu {
    margin-top: 22px;
  }
}
.menu .item {
  position: relative;
  color: #616161;
}
@media (max-width: 992px) {
  .menu .item {
    color: #222222;
  }
}
.menu .item a {
  color: #616161;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 992px) {
  .menu .item a {
    color: #222222;
  }
}
@media (max-width: 992px) {
  .menu .item {
    position: relative;
  }
  .menu .item li {
    display: block;
  }
  .menu .item a {
    position: relative;
  }
  .menu .item span.plus {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 12%;
    font-size: 20px;
  }
  .menu .item .submenu {
    height: 0;
    overflow: hidden;
    margin-top: 0;
  }
}
@media (max-width: 992px) {
  .menu .first-menu.active > a + .submenu {
    display: block;
    opacity: 1;
    height: auto;
  }
  .menu .second-menu.active > a + .submenu {
    display: block;
    opacity: 1;
    height: auto;
  }
  .menu:hover {
    text-decoration: none;
  }
}
.menu ol, .menu ul, .menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.submenu {
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 180px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  margin-top: -30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submenu > ul {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 5px;
}
.submenu a {
  display: block;
  padding: 10px 15px;
  color: #616161;
  font-size: 15px;
  line-height: 1;
}
.submenu a:hover {
  color: white;
  background-color: #b6d7d1;
  text-decoration: none;
}
.submenu .item:hover > a {
  color: white;
  background-color: #b6d7d1;
}

@media (min-width: 1200px) {
  .menu li .item:hover > a {
    text-decoration: underline;
  }
  .has-submenu:hover > .submenu,
.submenu .has-submenu:hover > .submenu.on-right {
    display: block;
    opacity: 1;
    visibility: initial;
    margin-top: 0;
  }
}
@media (max-width: 992px) {
  .submenu {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .submenu ul {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #b6d7d1;
    text-align: left;
  }
  .submenu ul li > a.item, .submenu ul .item > a {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 20px;
  }
  .has-submenu.active > .submenu,
.submenu .has-submenu.active > .submenu.on-right {
    display: block;
    opacity: 1;
    visibility: initial;
    margin-top: 0;
  }
}
.submenu .has-submenu .submenu {
  padding-left: 8px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.submenu .has-submenu .submenu.on-right {
  position: absolute;
  top: 0;
  left: 270px;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 992px) {
  .submenu .has-submenu .submenu.on-right {
    position: relative;
    top: unset;
    left: unset;
    text-align: left;
    padding-left: 20px;
    width: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.submenu .has-submenu .submenu.on-right ul, .submenu .has-submenu .submenu.on-right ol {
  width: 180px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  .submenu .has-submenu .submenu.on-right ul, .submenu .has-submenu .submenu.on-right ol {
    width: 100%;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: left;
  }
}

.mob-tel {
  display: inline-block;
  float: right;
  margin-top: 15px;
  margin-right: 60px;
  display: none;
}
@media (max-width: 992px) {
  .mob-tel {
    display: block;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .mob-tel {
    margin-right: 0;
    float: none;
    float: left;
  }
  .mob-tel span {
    font-size: 12px;
  }
}

.mob-btn-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 3000;
  display: none;
}
@media (max-width: 992px) {
  .mob-btn-menu {
    display: block;
  }
}
.mob-btn-menu.active span:nth-child(2) {
  opacity: 0;
}
.mob-btn-menu.active span:nth-child(1) {
  -webkit-transform: translateY(18px) rotate(45deg);
          transform: translateY(18px) rotate(45deg);
}
.mob-btn-menu.active span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}
@media (min-width: 1200px) {
  .mob-btn-menu {
    display: none;
  }
}
.mob-btn-menu span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #222222;
}
.mob-btn-menu span:nth-child(2) {
  top: 12px;
}
.mob-btn-menu span:nth-child(3) {
  top: 24px;
}

.fix-rightbottom-btns {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 67px;
  z-index: 50;
}
.fix-rightbottom-btns a {
  display: block;
  margin-top: 12px;
}
@media (max-width: 768px) {
  .fix-rightbottom-btns {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  background-color: #fff;
}
#loading .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 433px;
  height: 100px;
  text-align: center;
}
@media (max-width: 768px) {
  #loading .content {
    max-width: 300px;
    -webkit-transform: translateX(-50%) translateY(-60%);
            transform: translateX(-50%) translateY(-60%);
  }
}
#loading .content img {
  display: block;
  width: 110px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #loading .content img {
    width: 80px;
  }
}
#loading .progress-bar {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  margin: 19px auto 0;
}
#loading .progress-count {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  bottom: 0;
  background-color: #86e0bb;
}

.container {
  padding: 0 15px;
  max-width: 1360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.space-line {
  width: 100%;
  height: 1px;
}
.space-line.white {
  background-color: #fff;
}

#main, #index-main {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  #main, #index-main {
    padding-bottom: 60px;
  }
}

.breadcrumbs {
  position: relative;
  margin-bottom: 45px;
  margin-top: 15px;
  color: #757575;
  font-size: 13px;
  line-height: 1.5;
}
.breadcrumbs::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 18px;
  background-color: #86e0bb;
  vertical-align: middle;
  margin-right: 10px;
}
.breadcrumbs a {
  display: inline-block;
  color: #757575;
  text-decoration: none;
}
.breadcrumbs a.disable {
  pointer-events: none;
}
.breadcrumbs a:hover span {
  text-decoration: underline;
}
.breadcrumbs a:not(.breadcrumbs a:last-child)::after {
  content: ">";
  color: #757575;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 10px;
}
.breadcrumbs a:hover::after {
  text-decoration: none !important;
}

.hero-banner {
  width: 100%;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .hero-banner {
    margin-bottom: 25px;
  }
}
.hero-banner img {
  max-width: 100%;
}
.hero-banner .container {
  position: relative;
}
.hero-banner .desktop {
  display: block;
}
.hero-banner .mobile {
  display: none;
}
@media (max-width: 768px) {
  .hero-banner {
    margin-bottom: 20px;
  }
  .hero-banner .desktop {
    display: none;
  }
  .hero-banner .mobile {
    display: block;
  }
  .hero-banner .bg {
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (min-width: 992px) {
  .hero-banner {
    margin-bottom: 50px;
  }
}
.hero-banner.blog .hero-banner_title {
  position: absolute;
  bottom: 68.1431005111%;
  left: 1.254180602%;
  right: 0;
}
@media (min-width: 1200px) {
  .hero-banner.blog .hero-banner_title {
    bottom: 63.0323679727%;
  }
}
@media (max-width: 768px) {
  .hero-banner.blog .hero-banner_title {
    left: 8.75%;
    bottom: unset;
    top: 39.53125%;
  }
}
@media (max-width: 768px) {
  .hero-banner.blog .custom-select {
    position: relative;
    bottom: unset;
    left: unset;
  }
}
@media (min-width: 992px) {
  .hero-banner.blog .custom-select {
    position: absolute;
    bottom: 0;
    left: 15px;
    margin-left: 0;
  }
}
.hero-banner.news .hero-banner_title {
  position: absolute;
  top: 20.4429301533%;
  left: 35.9531772575%;
  right: 30px;
}
@media (min-width: 1200px) {
  .hero-banner.news .hero-banner_title {
    top: 25.5536626917%;
  }
}
@media (max-width: 768px) {
  .hero-banner.news .hero-banner_title {
    left: unset;
    right: 15px;
  }
}
@media (min-width: 992px) {
  .hero-banner.news .hero-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hero-banner.news .hero-navigation {
  max-width: unset;
  margin-top: 20px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
}
.hero-banner.news .hero-navigation nav {
  display: block;
  width: 100%;
}
.hero-banner.news .hero-navigation li {
  min-width: 50px;
  text-align: center;
  padding: 5px 15px;
}
@media (max-width: 768px) {
  .hero-banner.news .hero-navigation {
    position: relative;
    bottom: unset;
    left: unset;
    max-width: unset;
    display: block;
  }
  .hero-banner.news .hero-navigation li {
    min-width: unset;
    text-align: center;
    -webkit-box-flex: 33.3%;
        -ms-flex: 33.3%;
            flex: 33.3%;
    max-width: 33.3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 992px) {
  .hero-banner.news .hero-navigation {
    position: absolute;
    bottom: 0;
    left: 34.2809364548%;
    right: auto;
    max-width: calc(100% - 410px);
    margin-left: 0;
    margin-right: 0;
  }
  .hero-banner.news .hero-navigation li {
    min-width: unset;
    text-align: left;
    min-width: 80px;
  }
}
.hero-banner.booking .hero-banner_title {
  position: absolute;
  top: 71.5502555366%;
  left: 36.2040133779%;
  max-width: calc(100% - 404px);
}
@media (max-width: 768px) {
  .hero-banner.booking .hero-banner_title {
    top: 29.1449814126%;
    left: 32.5vw;
    max-width: initial;
    right: 4.4166666667vw;
  }
}
.hero-banner.booking .hero-navigation {
  position: absolute;
  bottom: 0;
  left: 33.779264214%;
  right: auto;
  max-width: calc(100% - 404px);
}
.hero-banner.booking .hero-banner_title .text {
  color: #565656;
  font-size: 19px;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .hero-banner.booking .hero-banner_title .text {
    font-size: 3vw;
    letter-spacing: 2px;
  }
}
.hero-banner .hero-banner_title .en span {
  display: inline-block;
  color: #e7e7e7;
  font-size: 50px;
  font-weight: 300;
  font-family: Century Gothic;
  line-height: 1;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .hero-banner .hero-banner_title .en span {
    font-size: 10.25vw;
  }
}
.hero-banner .hero-banner_title .en span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e7e7e7;
}
.hero-banner .hero-banner_title .zh span {
  display: block;
  color: #565656;
  font-size: 23px;
  font-weight: 400;
  font-family: "Century Gothic";
  line-height: 1;
  letter-spacing: 10px;
  position: relative;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .hero-banner .hero-banner_title .zh span {
    font-size: 4.5833333333vw;
    letter-spacing: 8px;
  }
}
.hero-banner .hero-banner_title .zh span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e7e7e7;
}
.hero-banner .hero-banner_title a[href^=tel] {
  color: #565656;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  text-decoration: none;
}
@media (max-width: 768px) {
  .hero-banner .hero-banner_title a[href^=tel] {
    font-size: 5.4166666667vw;
  }
}
.hero-banner .hero-banner_title .text {
  color: #565656;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 5px;
}
@media (max-width: 768px) {
  .hero-banner .hero-banner_title .text {
    font-size: 4.9166666667vw;
  }
}

.hero-link {
  color: #565656;
  font-size: 19px;
  line-height: 1.5;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}
.hero-link li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0 30px;
  position: relative;
}
.hero-link li:not(.hero-link li:nth-child(3n))::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 17px;
  background-color: #b5b5b5;
}
.hero-link a {
  display: inline-block;
  position: relative;
  color: inherit;
  position: relative;
  text-decoration: none;
}
.hero-link a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #86e0bb;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hero-link a:hover, .hero-link a.active {
  color: #86e0bb;
}
.hero-link a:hover::after, .hero-link a.active::after {
  width: 100%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 660px;
  margin: 50px auto;
}
.pagination .pagination_item {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .pagination .pagination_item {
    padding: 0;
  }
}
.pagination .pagination_item a {
  display: inline-block;
  color: #616161;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  margin: 0 5px;
}
@media (max-width: 768px) {
  .pagination .pagination_item a {
    font-size: 18px;
  }
}
.pagination .pagination_item a:hover, .pagination .pagination_item a.active {
  color: #a6e7cb;
}
.pagination .pagination_item.pagination_prevbox a, .pagination .pagination_item.pagination_nextbox a {
  position: relative;
  margin: 0 15px;
}
@media (max-width: 768px) {
  .pagination .pagination_item.pagination_prevbox a, .pagination .pagination_item.pagination_nextbox a {
    font-size: 16px;
    margin: 0 10px;
    margin-top: 10px;
  }
}
.pagination .pagination_item.pagination_prevbox a:first-child:before, .pagination .pagination_item.pagination_nextbox a:first-child:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: -17px;
  width: 1px;
  height: 16px;
  background-color: #dbdbdb;
}
@media (max-width: 768px) {
  .pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    margin: 0;
  }
  .pagination .pagination_item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .pagination .pagination_prevbox, .pagination .pagination_nextbox {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .pagination .pagination_prevbox {
    text-align: right;
  }
  .pagination .pagination_nextbox {
    text-align: left;
  }
}

.image-list {
  overflow: hidden;
}

.image-auto-height_row {
  margin: 0 -10px;
}
@media (min-width: 992px) {
  .image-auto-height_row {
    margin: 0 -15px;
  }
}
@media (min-width: 1200px) {
  .image-auto-height_row {
    margin: 0 -25px;
  }
}
.image-auto-height_row a {
  color: #5a5a5a;
  text-decoration: none;
}
.image-auto-height_row a:hover {
  text-decoration: none;
}
.image-auto-height_row a:hover .title {
  color: #5a5a5a;
  text-decoration: underline;
}

.image-auto-height_item {
  width: 50%;
  max-width: 50%;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .image-auto-height_item {
    width: 33.3%;
    max-width: 33.3%;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .image-auto-height_item {
    width: 25%;
    max-width: 25%;
    margin-bottom: 50px;
  }
}
.image-auto-height_item .image-group {
  display: block;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 992px) {
  .image-auto-height_item .image-group {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .image-auto-height_item .image-group {
    padding: 0 25px;
  }
}

.image-list_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media (min-width: 992px) {
  .image-list_row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 1200px) {
  .image-list_row {
    margin-left: -25px;
    margin-right: -25px;
  }
}

.image-list_col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
  margin-bottom: 50px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 992px) {
  .image-list_col {
    -webkit-box-flex: 33.3%;
        -ms-flex: 33.3%;
            flex: 33.3%;
    max-width: 33.3%;
    margin-bottom: 50px;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .image-list_col {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    max-width: 25%;
    margin-bottom: 50px;
    padding: 0 25px;
  }
}
.image-list_col a {
  text-decoration: none;
}
.image-list_col a:hover .title {
  color: #5a5a5a;
  text-decoration: underline;
}

.image-group .item {
  padding: 0 10px;
  display: block;
  color: #5a5a5a;
  text-decoration: none;
}
@media (min-width: 992px) {
  .image-group .item {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .image-group .item {
    padding: 0 25px;
  }
}
.image-group .item:hover .title {
  text-decoration: underline;
}
.image-group .title {
  color: #5a5a5a;
  font-size: 16px;
  line-height-step: 1.5;
  text-decoration: none;
  margin: 0;
}
.image-group .date {
  color: #616161;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: block;
  margin: 10px 0 0;
}
.image-group .date:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 90px;
  right: 0;
  height: 1px;
  background-color: #9f9f9f;
}
.image-group .image {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.image-group .image:hover::before {
  width: 100%;
}
.image-group .image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #86e0bb;
  z-index: 20;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.image-group .image img {
  width: 100%;
  display: block;
}

.footer_btn-scrolltop {
  width: 38px;
  margin: 0 auto 25px;
}
.footer_btn-scrolltop img {
  display: block;
}

.custom-select {
  width: 177px;
}
.custom-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 1px solid #b5b5b5;
  width: 100%;
  height: 36px;
  color: #565656;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 2px;
  padding: 0;
  padding-left: 15px;
  padding-right: 20px;
  background: url(../images/ico-select-arrow.png) no-repeat right center;
}

.custom-select-bg {
  display: inline-block;
  margin-right: 15px;
  min-width: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.custom-select-bg:last-child {
  margin-right: 0;
}
.custom-select-bg select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 100%;
  height: 36px;
  color: #565656;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 2px;
  padding: 0;
  padding-left: 15px;
  padding-right: 30px;
  border: none;
  background: #f1f1f1 url(../images/ico-select-arrow.png) no-repeat right center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.articlebox {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
}
.articlebox_inner {
  max-width: 870px;
  padding: 0 15px;
  margin: 0 auto;
}

.articlebox_title-information {
  margin-bottom: 20px;
}
.articlebox_title-information.date-right .date {
  text-align: right;
}
.articlebox_title-information.date-right .date::after {
  right: 90px;
  left: 0;
}
.articlebox_title-information .title {
  color: #5a5a5a;
  font-size: 23px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;
}
.articlebox_title-information .date {
  color: #616161;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: block;
  margin: 0;
}
.articlebox_title-information .date:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 90px;
  height: 1px;
  background-color: #9f9f9f;
}
.articlebox_title-information p {
  color: #616161;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.articlebox_content {
  color: #616161;
  font-size: 15px;
  line-height: 1.7;
}
@media (max-width: 768px) {
  .articlebox_content {
    font-size: 16px;
  }
}
.articlebox_content p {
  margin: 20px 0;
}
.articlebox_content img {
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.articlebox_content img.left, .articlebox_content img.right {
  margin-bottom: 20px;
}
.articlebox_content img.full {
  margin: 10px 0;
}
@media (min-width: 992px) {
  .articlebox_content img {
    max-width: 300px;
  }
  .articlebox_content img.left {
    float: left;
  }
  .articlebox_content img.right {
    float: right;
  }
  .articlebox_content img.full {
    width: 100%;
    max-width: 100%;
  }
}
.articlebox_content .group:after {
  display: block;
  content: "";
  clear: both;
}

.responsive-video {
  position: relative;
  width: 100%;
  padding-top: 56.5%;
}
.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-pagination {
  padding-bottom: 20px;
  padding-top: 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .article-pagination {
    padding-bottom: 40px;
    padding-top: 60px;
  }
}
.article-pagination_item {
  -webkit-box-flex: 60px;
      -ms-flex: 60px;
          flex: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.article-pagination_item .link {
  color: #616161;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}
.article-pagination_item:last-child {
  text-align: right;
}
.article-pagination_item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.article-pagination img {
  vertical-align: text-top;
  display: inline-block;
}

a.btn {
  border-radius: 5px;
  background-color: #acacac;
  display: block;
  color: white;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  max-width: 138px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  a.btn {
    border-radius: 0;
  }
}
a.btn img {
  margin-left: 5px;
  vertical-align: middle;
}
a.btn:hover {
  background-color: #aed3cc;
}

.remodal-overlay {
  background: rgba(0, 0, 0, 0.85);
}

.lb-close {
  position: absolute;
  top: -40px;
  right: 0;
  width: 34px;
  height: 34px;
  background: url(../images/x.png) no-repeat 0 0;
  background-size: contain;
  cursor: pointer;
}
@media (min-width: 992px) {
  .lb-close {
    top: -40px;
    right: -40px;
  }
}

.remodal {
  position: relative;
  border-radius: 0;
  padding-top: 10px;
}
.remodal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #86e0bb;
}

.remodal-wrapper {
  padding-top: 60px;
}

.modal-title {
  color: #5a5a5a;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 16px;
  text-align: center;
}
.modal-title h3 {
  font-weight: 300 !important;
}

.modal-group {
  margin-bottom: 30px;
}
.modal-group h3 {
  margin: 0;
}
.modal-group h4 {
  color: #5a5a5a;
  text-align: left;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.modal-group p, .modal-group a {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  margin: 0;
}
.modal-group a {
  text-decoration: underline;
}
.modal-group ol {
  list-style: disc;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  text-align: left;
}

@media only screen and (min-width: 1200px) {
  .remodal {
    max-width: 1020px;
  }
}
.store-list .title {
  position: relative;
  text-align: center;
  margin-bottom: 35px;
}
.store-list .title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #676767;
  z-index: 1;
}
.store-list .title img {
  background-color: #f5f6f3;
  position: relative;
  z-index: 2;
}
.store-list .item {
  color: #796060;
  font-size: 18px;
  line-height: 1.5;
}
.store-list .item .col {
  padding: 10px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}
@media (min-width: 992px) {
  .store-list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .store-list .item .col {
    -webkit-box-flex: 33.3%;
        -ms-flex: 33.3%;
            flex: 33.3%;
  }
  .store-list .item .col:nth-child(1) {
    border-right: 4px solid #fff;
  }
  .store-list .item .col:nth-child(2) {
    border-right: 4px solid #fff;
  }
}
.store-list .storebox {
  margin-bottom: 30px;
}
.store-list .msg {
  color: #696969;
  font-size: 14px;
  line-height: 1.5;
}
.store-list .group .item:nth-child(1) .col {
  background-color: #faded3;
}
.store-list .group .item:nth-child(3) .col {
  background-color: #f0ede6;
}

.img-over {
  position: relative;
}
.img-over .img-over_img {
  position: relative;
}
.img-over .img-over_img {
  position: relative;
  overflow: hidden;
}
.img-over .img-over_img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: #afcfb6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 2;
}
.img-over .img-over_img img {
  display: block;
  position: relative;
  z-index: 1 !important;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.img-over:hover .img-over_img:after {
  width: 100%;
}
.img-over:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}