#footer
    padding: 28px 0 
    background-color: #acacac

.footer_row
    display: flex
    margin-left: -15px
    margin-right: -15px
    padding-top: 20px
    padding-bottom: 20px

    +maxPad
        display: block

.footer_row-col
    flex: auto
    padding: 0 15px

    +maxPad
        margin-bottom: 25px

.footer_title
    color: white
    font-size: 16px
    font-weight: 600
    line-height: 1.5
    margin: 0
    margin-bottom: 20px

    +maxPad
        margin-bottom: 10px

    a
        color: white
        text-decoration: none

        &:hover
            text-decoration: underline

.footer_navigation
    color: white
    font-size: 13px
    line-height: 1.5
    font-weight: normal
    padding-left: 0
    list-style: none

    +maxPad
        display: flex
        margin: 0

        &.m-full
            display: block
            line-height: 2

            a
                margin-bottom: 5px

    li
        margin-bottom: 10px

        +maxPad
            flex: auto
            margin-bottom: 3px
    b
        font-weight: normal

    a
        color: white
        text-decoration: none

        &:hover
            text-decoration: underline

        
    span
        padding-right: 12px

        &.slash
            padding-left: 12px


.footer_socail-media
    margin-top: -50px
    display: flex
    justify-content: flex-end
    align-items: center

    +maxPad
        margin-top: -30px
        margin-bottom: 15px
        justify-content: start

.social-media_title
    color: white
    font-size: 15px
    font-weight: normal
    line-height: 1.5
    position: relative

    +maxPad
        width: calc(100% - 190px)

    &::after
        content: ""
        display: inline-block
        width: 63px
        height: 1px
        background-color: #fff
        vertical-align: middle
        margin-left: 10px
        margin-right: 15px

        +maxPad
            width: calc(100% - 100px)

.social-media_icons
    padding-left: 0
    list-style: none
    vertical-align: middle
    margin: 0

    li
        display: inline-block
        margin-right: 15px
        vertical-align: middle

        &:last-child
            margin-right: 0


.footer_bottom-msg
    text-align: center

    +maxPad
        padding-top: 10px
    p,a
        color: white
        font-size: 13px
        line-height: 1.7
        &:last-child
            margin-bottom: 0

    a
        text-decoration: underline