.content-group
    overflow: hidden
    margin: 60px 0 120px

    +maxPad
        margin: 30px 0 60px
    &:last-child
        margin-bottom: 0


body.popup
    overflow: hidden


.content-titlebox
    position: relative
    display: inline-block
    width: auto
    text-align: left

    +desktop_md
        width: 130px
        text-align: right

    h3
        color: #86e0bb
        font-size: 30px
        font-weight: 300
        line-height: 1.2
        margin: 0

    .space-line
        position: absolute
        top: 45px
        right: -3px
        width: 1000px
        height: 1px
        background-color: #86e0bb

    p
        color: #616161
        font-size: 16px
        line-height: 1.5

        br
            display: none


.section-main
    padding-right: 0
    display: block

    +desktop_xl
        display: flex
        // padding-right: 108px

    .section-main_col
        padding-left: 0
        margin-bottom: 60px

        +desktop_md
            flex: calc(100% - 200px)
            max-width: calc(100% - 200px)
            padding-left: 15px
            box-sizing: border-box

            &:nth-child(1)
                flex: 200px
                min-width: 200px
                max-width: 200px
                padding-left: 0
            
        +maxPad
            &:nth-child(1)
                margin-bottom: 30px
.photo-list
    +maxPad
        width: 80%
        margin: 0 auto

.photo-list_group
    position: relative
    display: flex
    flex-flow: wrap row
    width: 100%

    .swiper-slide
        width: 100%

    +maxPad
        flex-flow: wrap row
        justify-content: center

.photo-list
    position: relative
    margin-bottom: 55px

    .btnbox.right
        position: absolute
        bottom: 0
        right: 0
        padding-right: 20px
        +maxDesktop
            position: relative
            bottom: unset
            right: unset
            padding-right: 0
            text-align: center
            margin-top: 30px

        .btn
            display: inline-block
            min-width: 138px
            margin-top: -40px
            +maxPad
                margin-top: 0

.photo-list_item
    flex: 25%
    max-width: 25%
    padding-right: 20px
    box-sizing: border-box

    img
        width: 100%

    +maxPad
        flex: 50%
        max-width: 300px
        padding-right: 15px
        padding-bottom: 25px

.photo-list_item_group
    position: relative
    min-height: 460px
    padding-right: 15px

    +maxDesktop
        min-height: unset
        padding-bottom: 30px

    +maxPad
        min-height: unset
        &:nth-child(2n)
            margin-right: 0

    +maxPad
        padding-bottom: 0

    &:last-child
        margin-right: 0

    a
        display: block
        position: relative
        z-index: 20
        text-decoration: none

        .name
            color: #5a5a5a
            text-decoration: none

        &:hover
            .name
                text-decoration: underline

    .name
        margin-top: 30px
        padding-left: 38px
        font-size: 22px
        line-height: 1.5
        position: relative

        +maxPad
            position: relative
            display: inline-block
            margin-top: 20px
            padding-left: 30px
            font-size: 20px
            margin-bottom: 20px

        &::after
            content: ""
            position: absolute
            top: 50%
            right: 0
            width: 50px
            height: 1px
            background: #beada6

            +maxDesktop
                display: none

            +maxPad
                display: block
                width: 30px
                right: -22%
                width: 20%

            +maxPhone
                display: none !important
            

        p
            margin: 0

    .cover-bg
        position: absolute
        top: 46px
        left: 17px
        right: 0
        bottom: 0
        background-color: #faded2
        
    &:nth-child(even) .cover-bg
        background-color: #f0ede6


.service-steps_row
    display: flex
    align-items: center
    text-align: center

    +maxDesktop
        display: block

    .service-steps_col
        flex: auto

        &:nth-child(1)
            position: relative
            flex: 130px
            min-width: 130px
            max-width: 130px

            +maxDesktop
                flex: 100%
                max-width: 100%
                min-width: 100%
                padding-bottom: 15px
                margin-bottom: 15px

            &::before
                content: ""
                position: absolute
                top: 50%
                margin-top: 190px/2*-1
                right: -8px
                width: 1px
                height: 190px
                background-color: #e7e7e7

                +maxDesktop
                    top: unset
                    right: unset
                    margin-top: unset
                    bottom: 0
                    width: 100%
                    height: 1px
                    left: 0

    .title
        color: #565656
        font-size: 25px
        line-height: 1.5
        font-weight: 300
        margin: 0

    p
        color: #5a5a5a
        font-size: 18px
        margin: 0
        line-height: 1.5

    span
        color: #616161
        font-size: 15px
        line-height: 1.5

.service-cloumns
    display: flex
    align-items: flex-start
    
    +maxPad
        flex-flow: wrap row

    .item
        flex: 100/6*100%
        max-width: 100/6*100%
        padding: 0 16px
        position: relative
        box-sizing: border-box

        img
            max-width: 100%

            +maxPad
                max-width: 60px

        +maxPad
            flex: 33.3%
            max-width: 33.3%
            margin-bottom: 30px

            &:nth-child(3)::after
                display: none

        &:last-child
            padding-right: 0

        &:not(&:last-child)::after
            content: ""
            position: absolute
            top: 35px
            right: -8px
            width: 23px
            height: 16px
            background: url(../images/service-stpes-arrow.png) no-repeat center
            background-size: contain

    .ico
        max-width: 100%
    p
        margin-bottom: 5px
    .ico
        margin-bottom: 10px

.recommend-list
    position: relative
    margin-top: 30px

    +maxPad
        margin-top: 30px
        padding-top: 30px

    +desktop_md
        margin-top: 0
        padding-top: 30px

    .btnbox.right
        position: absolute
        bottom: 0
        right: 0
        padding-right: 20px
        +maxDesktop
            position: relative
            bottom: unset
            right: unset
            padding-right: 0
            text-align: center
            margin-top: 30px

        .btn
            display: inline-block
            min-width: 138px
            margin-top: -40px
            +maxPad
                margin-top: 0

.recommend-list_row
    display: flex
    flex-flow: wrap row
    width: 100%

    +maxDesktop
        width: 81.25%
        max-width: 550px
        margin: 0 auto
        justify-content: center

    +maxPad
        width: 100%


    .item
        flex: 50%
        max-width: 50%
        box-sizing: border-box

        +maxDesktop
            flex: 100%
            max-width: 100%

            &:nth-child(1)
                order: 1
            &:nth-child(2)
                order: 2
            &:nth-child(3)
                order: 3
            &:nth-child(4)
                order: 4

        a
            display: block
            padding-right: 60px
            padding-left: 254px
            display: block
            text-decoration: none
            position: relative

            +maxPad
                padding-right: (60 / 525) * 100%
                padding-left: (254 / 525) * 100%

        .photo
            position: relative
            width: 100%
            max-width: 192px
            z-index: 20

            +maxDesktop
                max-width: 100%

            +maxPad
                .img-over_img
                    width: 100%
                    height: 100%

                img
                    object-fit: cover
                    height: 100%
                    width: 100%

        .textbox
            width: 200px
            +maxPad
                width: auto
    img
        display: block
        width: 100%

    h3
        color: #5b5b5b
        font-size: 22px
        font-weight: 400
        line-height: 1.5
        margin: 0
        margin-bottom: 15px

    p
        color: #616161
        font-size: 18px
        font-weight: 400
        line-height: 1.5
        margin: 0

.item1
    .textbox-center
        position: absolute
        top: -34px
        left: 0
        bottom: 37px
        width: 63%
        display: flex
        align-items: center
        flex-flow: wrap row
        background-color: #aaafae

        +maxPad
            top: -20px
            bottom: 20px
    

    .textbox
        padding-top: 34px
        padding-left: 18px

        +maxPad
            padding-left: 15px
            padding-right: 30%
            


        h3,p
            color: white

// .item2
//     .textbox-center
//         position: absolute
//         top: 0
//         left: 0
//         bottom: 37px
//         width: 51%
//         display: flex
//         align-items: center
//         flex-flow: wrap row

//     .textbox
//         +maxPad
//             padding-left: 15px
//             padding-right: 20%

.item2
    a.img-over
        +maxDesktop
            padding-left: (67 / 525) * 100%
            padding-right: (247 / 525) * 100%

    .textbox-center
        position: absolute
        top: 0
        left: 0
        bottom: 37px
        width: 51%
        display: flex
        align-items: center
        flex-flow: wrap row

        +maxDesktop
            position: absolute
            top: 0
            left: 50%
            bottom: 44px
            right: 0
            display: flex
            align-items: center
            flex-flow: wrap row

    .textbox
        +maxPad
            padding-left: 15px
            padding-right: 20%

        +maxDesktop
            padding-left: 18%
            padding-right: 0

.item3
    a.img-over
        padding-left: 67px
        padding-right: 247px
        +maxDesktop
            padding-right: (60 / 525) * 100%
            padding-left: (254 / 525) * 100%

    .textbox-center
        position: absolute
        top: 0
        left: 50%
        bottom: 44px
        right: 0
        display: flex
        align-items: center
        flex-flow: wrap row

        +maxDesktop
            position: absolute
            top: 0
            left: 0
            bottom: 37px
            width: 51%
            display: flex
            align-items: center
            flex-flow: wrap row

    .textbox
        padding-left: 12%
        +desktop_md
            padding-left: 12%

        +maxDesktop
            padding-left: 15px
            padding-right: 20%

.item4
    a.img-over
        padding-left: 60px
        padding-right: 254px
        +maxPad
            padding-left: (60 / 525) * 100%
            padding-right: (254 / 525) * 100%

    .textbox-center
        position: absolute
        top: -31px
        left: 36%
        bottom: 35px
        right: 0
        display: flex
        align-items: center
        flex-flow: wrap row
        background-color: #f3c5c6

    .textbox
        padding-top: 31px
        padding-left: calc(60px + 15%)
        +desktop
            padding-left: 25%
        +desktop_md
            padding-left: 28%

        +maxPad
            padding-left: 32%
            padding-right: 15px

        h3,p
            color: white

.news-list
    width: 100%
    margin-bottom: 0
    +maxPad
        // width: (960/1200) *100%
        margin: 0 auto
.news_row
    display: flex
    flex-flow: wrap row
    align-items: stretch
    width: 100%

    +maxPad
        flex-flow: column wrap

    .item
        flex: 50%
        max-width: 50%
        box-sizing: border-box
        border-bottom: 1px solid #ebebeb
        padding-bottom: 25px
        margin-bottom: 25px

        &:nth-child(even) .photo:before
            background-color: #f0ede6 !important

        +maxPad
            flex: 100%
            max-width: 100%
            padding-bottom: 15px
            margin-bottom: 15px
            border-bottom: none

        &:nth-last-child(1),&:nth-last-child(2)
            border-color: white

        a
            
            display: flex
            align-items: center
            text-decoration: none
            position: relative
            overflow: hidden
            color: #616161
            font-size: 20px
            line-height: 1.6

        .photo
            position: relative
            flex: 165px
            max-width: 165px
            box-sizing: border-box
            padding-right: 14px
            padding-bottom: 14px
            width: auto
            z-index: 20
            +maxPad
                flex: 130px
                max-width: 130px
                min-width: 130px
                padding-right: 8px
                padding-bottom: 8px
                height: auto

            &::before
                content: ""
                position: absolute
                top: 33px
                left: 33px
                right: 0
                bottom: 0
                background-color: #faded2
                +maxPad
                    top: 18px
                    left: 18px

            

            img
                position: relative
                max-width: 100%
                z-index: 20


        .textbox
            flex: auto
            z-index: 20
            padding-left: 15px
            padding-right: 15px
            box-sizing: border-box
            
    

.beauty-titlebox
    width: 140px
    text-align: center
    position: relative
    z-index: 50

    .slash
        display: block
        width: 1px
        height: 50px
        transform: rotate(30deg)
        background-color: #b1b1b1
        margin: 0 auto

    .title
        color: #565656
        font-size: 24px
        letter-spacing: 2px
        margin: 0

        

    .text
        color: #616161
        font-size: 15px
        line-height: 1.5

    a
        color: #565656
        text-decoration: none
        
        &:hover
            text-decoration: underline

.beauty-group
    display: flex
    width: 100%

    .beauty-group_col
        flex: 50%
        max-width: 50%
        box-sizing: border-box
        &:after
            content: ""
            clear: both

    .group
        display: flex
        width: 100%

        .group_col
            flex: 50%
            max-width: 50%

    img
        display: block
        position: relative
        max-width: 100%
        z-index: 10

    // 服務項目-1
    &.style1
        align-items: center
        margin-top: -41px
        padding-bottom: 106px

        +maxDesktop
            margin-top: 50px
            padding-bottom: 60px

        .beauty-titlebox
            float: right

        .beauty-group_col
            position: relative
            &:nth-child(1)
                padding-right: vw(60px)
                flex: vw(675px)

                +maxDesktop
                    padding-right: 30px
                    flex: (305 / 1200) * 100%
                    max-width: (305 / 1200) * 100%
                    min-width: 140px

                +maxPad
                    padding-right: 15px

            &:nth-child(2)
                padding-right: 0
                flex: (905 / 1200) * 100%
                max-width: (905 / 1200) * 100%

                +maxDesktop
                    padding-right: 0
                    max-width: unset

                +maxPad
                    img
                        width: 100%
                        height: 120px
                        object-fit: cover

        .box
            position: absolute
            top: 60px
            left: (300/807) *100%
            width: (229 /807) *100%
            padding-top: 70%
            background-color: #faded2
            z-index: 1

            +maxDesktop
                display: none

    // 服務項目-2
    &.style2
        align-items: center
        position: relative

        +maxDesktop
            display: none

        img
            width: 100%

        .box
            position: absolute
            top: 50%
            left: 15px
            width: 132px
            height: 110%
            background-color: #f3c5c6
            z-index: 1

        .group1
            align-items: center
            padding-bottom: 41px
            .group_col
                position: relative
                &:nth-child(1)
                    padding-right: vw(40px)
                    flex: vw(256px)
                    max-width: vw(256px)
                    .beauty-titlebox
                        float: right
                &:nth-child(2)
                    flex: vw(430px)
                    max-width: vw(430px)
                    padding-right: vw(105px)

        .group2
            align-items: center
            justify-content: start
            padding-top: 55px

            .beauty-titlebox
                float: left
            .group_col
                &:nth-child(1)
                    order: 2
                    padding-left: vw(40px)
                &:nth-child(2)
                    order: 1
                    padding-left: vw(60px)


    // 服務項目-3
    .beauty-group_col.style3
        
        .group
            justify-content: start
            align-items: center
            .group_col
                &:nth-child(1)
                    order: 2
                &:nth-child(2)
                    order: 1
                    padding-right: 50px

        

    // 服務項目-4
    &.style4
        align-items: center
        padding-top: 80px
        padding-bottom: 90px

        +maxDesktop
            padding-top: 40px
            padding-bottom: 90px
        
        +maxPhone
            padding-top: 20px
            padding-bottom: 40px

        .beauty-titlebox
            float: right

        .beauty-group_col
            position: relative
            &:nth-child(1)
                padding-right: 50px
                
                +maxDesktop
                    flex: (474 /1200) *100%
                    max-width: (474 /1200) *100%
                    
                +maxPad
                    padding-right: 15px

            &:nth-child(2)
                +maxDesktop
                    flex: (726 /1200) *100%
                    max-width: (726 /1200) *100%

            img
                +maxDesktop
                    width: (381/726)*100%

        .box
            position: absolute
            top: 88px
            left: 186px
            width: 421px
            height: 261px
            background-color: #f0ede6
            z-index: 1

            +maxDesktop
                top: 32%
                left: 20%
                width: (700/1200) *100%
                padding-top: 40%
                height: auto

    // 服務項目-5
    &.style5
        align-items: center
        padding-bottom: 70px
        margin-bottom: 110px
        +maxDesktop
            display: block
            margin-bottom: 0

        .beauty-group_col
            position: relative
            box-sizing: border-box
            
            
            &:nth-child(1)
                flex: 829px
                max-width: 829px
                padding-left: 67px

                +maxDesktop
                    flex: 100%
                    max-width: 100%
                    padding-right: 5%
                    margin-bottom: 60px
            &:nth-child(2)
                flex: 534px
                max-width: 534px
                padding-left: 50px
                +maxDesktop
                    flex: 100%
                    max-width: 100%
                    padding-left: 15px
                    padding-right: 15px
                    
                    .beauty-titlebox
                        margin: 0 auto

        .box
            position: absolute
            top: 110px
            right: 150px
            width: 1100px
            height: 204px
            background-color: #faded2
            z-index: 1

            +maxDesktop
                width: 95%
                right: 20%
                bottom: -40px
                padding-top: 20%
                height: unset
                top: unset


.mob-style2
    display: none

    +maxDesktop
        display: block

.beauty-group.mob-group1
    .box
        position: absolute
        top: 50%
        left: 10%
        width: 40%
        height: 100%
        background-color: #f3c5c6
        z-index: 1

    +maxDesktop
        .group
            align-items: center
            padding-right: 30%
            box-sizing: border-box
            margin-bottom: 40px

        .beauty-titlebox
            float: right
            margin-right: 15px
            

        .group_col
            position: relative
            &:nth-child(1)
                flex: 50%
                max-width: 50%

    +maxPhone
        .group
            padding-right: 20%

        img
            width: 100%
            height: 160px
            object-fit: cover

        .box
            position: absolute
            top: 50%
            left: -12%
            width: 50%
            

   

.beauty-group.mob-group2
    .style2
        +maxDesktop
            .group
                display: flex
                flex-flow: column

                .group_col
                    flex: 100%
                    max-width: 100%
                    padding-right: 30px
                    box-sizing: border-box

                img
                    margin-bottom: 20px
                    max-width: 60%

                .beauty-titlebox,img
                    float: right

        +maxPhone
            img
                width: 100%
                height: 100%
                object-fit: cover
                max-width: 80% !important

    .style3
        .group
            display: block
            padding-left: 0
            padding-right: 0
            box-sizing: border-box

            .group_col
                position: relative
                flex: 100%
                max-width: 100%
                padding-right: 0
                padding-right: 0 !important
                box-sizing: border-box
                order: unset !important
                text-align: center

            img
                display: inline-block
                margin-bottom: 20px
                max-width: 60%

            .beauty-titlebox
                margin: 0 auto

        +maxPhone
            img
                width: 100%
                height: auto
                object-fit: cover
                max-width: 80% !important


        .box
            position: absolute
            top: -30px
            right: 0
            width: 40%
            height: 80%
            background-color: #faded2
            z-index: 1

            +maxPhone
                right: -15%


.slide-peo-swiper,.recommend-swiper
    position: relative
    padding-bottom: 70px
    overflow: hidden

    +maxPad
        padding-bottom: 40px


.swiper-pagination
    .swiper-pagination-bullet
        width: 13px
        height: 13px
        background-color: #909090

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 10px

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
    bottom: -3px


.kvbox
    margin-bottom: 100px
    position: relative
    padding-top: 50px

    +maxPad
        padding-top: 0

    .container
        position: relative

.kvbox_row
    display: flex

    .kvbox_col
        position: relative
        box-sizing: border-box
        &:after
            content: ""
            clear: both

    a,img
        display: block

    &.row1 .kvbox_col
        &:nth-child(1)
            flex: (455/1360) *100%
            max-width: (455/1360) *100%
            padding-right: 35px
            
        &:nth-child(2)
            flex: (908/1360) *100%
            max-width: (908/1360) *100%
            padding-right: (104/1360) *100%


    &.row2 .kvbox_col
        &:nth-child(1)
            flex: (651/1360) *100%
            max-width: (651/1360) *100%
            
        &:nth-child(2)
            flex: (716/1360) *100%
            max-width: (716/1360) *100%

    &.m-row1 
        flex-flow: column
        margin-bottom: 20px
        .kvbox_col
            &:nth-child(1)
                flex: 100%
                padding-top: 15px
                
            &:nth-child(2)
                flex: 100%

        a
            display: block


    &.m-row2 .kvbox_col
        &:nth-child(1)
            flex: (633/1200) *100%
            max-width: (633/1200) *100%
            
        &:nth-child(2)
            flex: (563/1200) *100%
            max-width: (563/1200) *100%

        a
            display: block

    &.m-row2
        +maxDesktop
            margin-top: -20%

    img
        max-width: 100%

.banner-1
    position: relative
    width: (300 / 455) *100%
    position: relative
    float: right
    z-index: 200

    .box
        display: block
        position: absolute
        top: (48 /400) *100%
        left: (48 /455) * -100%
        right: 24.2%
        bottom: (60 /400) * -100%
        background-color: #f3c5c6
        z-index: -20

    a
        display: block
        z-index: 100

    img
        position: relative
        z-index: 200

.banner-2
    position: relative
    float: left
    width: (800 / 908) * 100%
    z-index: 100

    .box
        display: block
        position: absolute
        top: (189 /320) *100%
        left: (348 /908) * 100%
        right: -22%
        bottom: -23%
        background-color: #f0ede6
        z-index: -1

    a
        display: block
        width: 100%

    img
        position: relative
        z-index: 50


.banner-3
    position: relative
    float: right
    margin-top: -6%
    width: (299 / 651) * 100%

    .box
        display: block
        position: absolute
        top: -30%
        left: 40%
        right: -10%
        bottom: -10%
        background-color: #faded2
        z-index: -1

    img
        display: block
        position: relative
        z-index: 10


.m-banner-1
    position: relative
    width: (1027 / 1200) *100%
    position: relative
    float: right
    margin-bottom: 30px

    img
        width: 100%

    .box
        display: block
        position: absolute
        top: 30%
        left: 40%
        right: -20px
        bottom: -20%
        background-color: #f0ede6
        z-index: -1

    a
        position: relative
        display: block
        z-index: 100

.m-banner-2
    position: relative
    float: left
    width: (400 / 1200) * 100%
    margin-left: -20px

    .box
        display: block
        position: absolute
        top: -30px
        left: 75%
        right: -22%
        bottom: -10%
        background-color: #faded2
        z-index: -1

    a
        display: block
        width: 100%

    img
        width: 100%


.m-banner-3
    position: relative
    float: right
    width: (492 / 563) * 100%
    

    .box
        display: block
        position: absolute
        top: 20%
        left: -15%
        right: 30%
        bottom: -10%
        background-color: #f3c5c6
        z-index: -1

    img
        display: block
        width: 100%

       
.obj-box1
    position: absolute
    top: -40px
    right: 15px
    width: 50px
    height: 72px
    background-color: #faded2
    z-index: -1

    +maxDesktop
        right: auto
        left: -20px
        top: 50%
        width: vw(82px,1200px)
        height: 30%

.obj-box2
    position: absolute
    top: 40%
    left: 30%
    width: 85px
    height: 85px
    background-color: #f0ede6
    z-index: -1

    +maxDesktop
        position: absolute
        top: -30%
        right: 0
        left: unset
        width: vw(120px,1200px)
        height: 20%
        background-color: #f0ede6

.slogan
    position: absolute
    top: 20%
    left: 10%
    color: #5c5c5c
    width: 249px
    font-size: 18px
    letter-spacing: 5px
    font-weight: 400
    text-align: center

    img
        width: 100%


    +maxDesktop
        position: relative
        top: unset
        left: unset
        width: vw(377px,1200px)
        font-size: 20px

    +maxPad
        font-size: vw(50px,1200px)


+maxDesktop
    .sloganbox
        position: absolute
        top: 45%
        left: 50%
        transform: translateX(-60%)

.desktop
    display: block

    +maxDesktop
        display: none

.mobile
    display: none

    +maxDesktop
        display: block


#header
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 60px
    z-index: 3000
    background-color: #fff

    +desktop_md
        height: 70px

    +desktop_xl
        height: 85px


.header-inner
    padding-right: 15px

    .logo
        float: left
        width: 230px
        

        +desktop_md
            width: 270px
            
        +desktop_xl
            width: 332px

        +iphone
            width: 170px !important
            margin-top: 10px

        img
            max-width: 100%

    nav
        float: right

        +maxDesktop
            float: none

.navigation-box
    display: block
    +desktop
        float: right
        display: block !important

    +maxDesktop
        display: none
        position: fixed
        top: 10px
        left: 10px
        right: 10px
        bottom: 10px
        z-index: 2000
        background-color: rgba(white,.9)
        box-shadow: 0 0 10px rgba(black,.3)

        .scroll
            width: 100%
            height: 100%
            overflow-y: auto

.menu
    ol
        display: flex
        list-style: none
        align-items: center
        padding: 0
        margin: 0

        +maxDesktop
            display: block
    
    a
        display: block
        padding: 0 15px
        color: #222
        font-size: 14px
        line-height: 1
        text-decoration: none
        user-select: none

        .item
            line-height: 1

        +desktop
            padding: 0 6px
            font-size: 14px

        +desktop_xl
            padding: 0 16px
            font-size: 16px

            &:hover
                text-decoration: underline

            .item
                line-height: 1

        +maxDesktop
            padding: 10px 20px
            font-size: 20px
            line-height: 2

        


a.btn-tel
    display: inline-block
    color: #86e0bb
    font-size: 20px
    line-height: 1
    user-select: none
    text-decoration: none
    padding-right: 0
    vertical-align: middle

    &:hover
        text-decoration: none

    i
        display: inline-block
        margin-right: 10px
        padding-right: 0
        vertical-align: middle

        +desktop_md
            margin-right: 10px
            border-right: 1px solid #b0b0b0
            padding-right: 16px

    +desktop_md
        font-size: 25px

a.pc-tel
    display: block

    +maxDesktop
        display: none

.ico-phone
    display: inline-block
    width: 25px
    height: 25px
    background: url(../images/ico-phone.png) no-repeat 0 0
    vertical-align: middle
    margin-right: 5px


#index-main
    padding-top: 80px

.navParent,.navPrentChild
    position: relative

.navPrentChild:hover
    .navSubChild
        opacity: 1
        visibility: initial


.menu
    margin-top: 14px
    +maxDesktop
        margin-top: 50px
    +desktop_md
        margin-top: 15px
    +desktop_xl
        margin-top: 22px
    .item
        position: relative
        color: #616161
        +maxDesktop
            color: #222222

        a
            color: #616161
            user-select: none

            +maxDesktop
                color: #222222
                
        +maxDesktop
            position: relative

            li
                display: block

            a
                position: relative

            span.plus
                position: absolute
                top: 50%
                transform: translateY(-50%)
                right: 12%
                font-size: 20px

            .submenu
                height: 0
                overflow: hidden
                margin-top: 0
    +maxDesktop
        .first-menu.active
            > a + .submenu
                display: block
                opacity: 1
                height: auto

        .second-menu.active
            > a + .submenu
                display: block
                opacity: 1
                height: auto

        &:hover
            text-decoration: none

    ol,ul,li
        padding: 0
        margin: 0
        list-style: none

.submenu
    position: absolute
    top: 35px
    left: 50%
    transform: translateX(-50%)
    width: 180px
    height: auto
    opacity: 0
    visibility: hidden
    margin-top: -30px
    transition: all .5s ease

    > ul
        background: rgba(#fff,.9 )
        box-shadow: 0 0 10px rgba(black,.3)
        padding: 0
        margin: 0
        text-align: center
        margin-top: 5px
    a
        display: block
        padding: 10px 15px
        color: #616161
        font-size: 15px
        line-height: 1

        &:hover
            color: white
            background-color: #b6d7d1
            text-decoration: none


    .item:hover > a
        color: white
        background-color: #b6d7d1

+desktop_md
    .menu li .item:hover > a
        text-decoration: underline

    .has-submenu:hover > .submenu,
    .submenu .has-submenu:hover > .submenu.on-right
        display: block
        opacity: 1
        visibility: initial
        margin-top: 0

+maxDesktop
    .submenu
        position: relative
        top: unset
        left: unset
        width: 100%
        transform: none
        box-shadow: none
        
        ul
            box-shadow: none
            background-color: #b6d7d1
            text-align: left

            li > a.item,.item > a
                color: white
                font-size: 20px
                line-height: 1.5
                padding: 10px 20px

    

    .has-submenu.active > .submenu,
    .submenu .has-submenu.active > .submenu.on-right
        display: block
        opacity: 1
        visibility: initial
        margin-top: 0

.submenu .has-submenu .submenu
    padding-left: 8px
    background: none
    box-shadow: none

    &.on-right
        position: absolute
        top: 0
        left: 270px
        opacity: 0
        visibility: hidden

        +maxDesktop
            position: relative
            top: unset
            left: unset
            text-align: left
            padding-left: 20px
            width: auto
            box-sizing: border-box

        ul,ol
            width: 180px
            background: rgba(#fff,.9 )
            box-shadow: 0 0 10px rgba(black,.3)
            text-align: center
            padding: 0
            margin: 0

            +maxDesktop
                width: 100%
                background: none
                box-shadow: none
                text-align: left
            

.mob-tel
    display: inline-block
    float: right
    margin-top: 15px
    margin-right: 60px
    display: none

    +maxDesktop
        display: block
        margin-top: 20px

    +maxPhone
        margin-right: 0
        float: none
        float: left
        span
            font-size: 12px


.mob-btn-menu
    position: absolute
    top: 20px
    right: 20px
    width: 40px
    height: 40px
    z-index: 3000
    display: none

    +maxDesktop
        display: block

    &.active
        span
            &:nth-child(2)
                opacity: 0
            &:nth-child(1)
                transform: translateY(18px) rotate(45deg)
            &:nth-child(3)
                transform: translateY(-6px) rotate(-45deg)

    +desktop_md
        display: none

    span
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 3px
        background-color: #222222

        &:nth-child(2)
            top: 12px
        &:nth-child(3)
            top: 24px