
.hero-banner.member
    .hero-banner_title
        position: absolute
        bottom: 5%
        left: (450px / 1330px) *100%
        right: (140px / 1330px) *100%

        .zh
            margin-bottom: 8px

            +maxPad
                margin-bottom: 15px

            span
                line-height: 2
                letter-spacing: 6px
                padding-bottom: 5px

                +maxPad
                    line-height: 1.3
                    padding-bottom: 15px

            strong
                font-weight: normal
                color: #86e0bb

            p
                display: inline-block
                margin: 0

                +maxPad
                    display: block

        .text
            letter-spacing: .5px
            font-size: 19px

            +maxPad
                font-size: 15px

                br
                    display: none

        +maxPad
            top: (370px / 1388px) *100%
            left: (380px / 1200px) *100%
            right: 5%


.dflex
    display: flex
    align-items: stretch
    max-width: 80%
    margin: 0 auto

    +maxDesktop_md
        max-width: 100%
        padding: 0 15px
        box-sizing: border-box

    +maxPad
        display: block
        max-width: 100%
        padding: 0

    .dflex-cloumn
        display: flex
        align-items: center
        padding: 0 15px
        box-sizing: border-box

        +maxPad
            padding: 0

        &.border-line
            border-right: 1px solid #e5e5e5

            +maxPad
                border: none
                border-bottom: 1px solid #e5e5e5
                padding-bottom: 30px
                margin-bottom: 30px

        &:nth-child(1)
            justify-content: end


    &.cloumn-2
        .dflex-cloumn
            flex: 50%
            max-width: 50%

            +maxPad
                flex: 100%
                max-width: 100%

    &.cloumn-2-signup
        .dflex-cloumn
            &:nth-child(1)
                flex: 50%
                max-width: 50%

            &:nth-child(2)
                flex: 50%
                max-width: 50%
                min-width: 420px

            +maxPad
                &:nth-child(1)
                    text-align: center
                &:nth-child(1),&:nth-child(2)
                    flex: 100%
                    max-width: 100%
                    min-width: 100%


    
p.cloumn-msg
    color: #616161
    font-size: 18px
    line-height: 1.5
    text-align: right

    +maxPad
        text-align: center
        width: 100%
    
.quick-loginbox
    text-align: center
    max-width: 400px
    margin: 0 auto

    h3
        color: #212121
        font-size: 24px
        font-weight: normal
        line-height: 1.5
        margin: 0
        margin-bottom: 20px

    p
        color: #616161
        font-size: 18px
        line-height: 1.5

    .notice
        position: relative
        padding-left: 55px

        p,b
            font-size: 14px
            color: #616161
            line-height: 1.5

        b
            font-weight: normal
            position: absolute
            top: 0
            left: 0

.socialmedia-btns
    list-style: none
    padding: 0

    li
        margin-bottom: 30px

    .btn-socialmedia
        display: block
        color: #ffffff
        font-size: 18px
        line-height: 60px
        text-decoration: none
        border-radius: 10px
        max-width: 300px
        margin: 0 auto
        text-align: left
        letter-spacing: 1px
        user-select: none
        vertical-align: middle

        span,img
            vertical-align: middle

        img
            margin: 0 10px

        &.line
            background-color: #06c755
        &.fb
            background-color: #1877f2
        &.google
            color: #4a4a4a
            background-color: #fff
            border: 1px solid #cecece

.form-btns
    padding-left: 120px

    +maxPad
        text-align: center
        padding-left: 0

.loginbox
    max-width: 380px
    width: 100%
    margin: 0 auto

    &.sz-xl
        max-width: 472px
    
    .form-group
        max-width: 350px
        margin: 0 auto

        

    .row
        display: flex
        margin-left: -5px
        margin-right: -5px
        margin-bottom: 28px

        +maxPad
            display: block
            margin: 0
            margin-bottom: 15px

        &.checkbox
            margin-left: 0
            margin-right: 0
            padding-left: 120px

            +maxPad
                padding-left: 0

    .form-msg
        color: #616161
        font-size: 18px
        line-height: 1.5
        text-align: center
        
    a.link
        display: inline-block
        margin: 0 15px
        color: #616161
        font-size: 16px
        line-height: 1.5
        text-decoration: underline

    .col
        box-sizing: border-box
        padding: 0 5px
        
        +maxPad
            padding: 0

        &:nth-child(1)
            flex: 120px
            max-width: 120px
            text-align: right
            letter-spacing: 2px

            +maxPad
                flex: 100%
                max-width: 100%
                text-align: left

        &:nth-child(2)
            flex: calc(100% - 120px)
            max-width: calc(100% - 120px)

            +maxPad
                flex: 100%
                max-width: 100%


    &.small-title 
        .col
            &:nth-child(1)
                flex: 60px
                max-width: 60px
                letter-spacing: 2px
                text-align: left

                +maxPad
                    flex: 100%
                    max-width: 100%
            &:nth-child(2)
                flex: calc(100% - 60px)
                max-width: calc(100% - 60px)

                +maxPad
                    flex: 100%
                    max-width: 100%

        .form-btns
            padding-left: 60px !important
            display: flex
            align-items: center
            justify-content: space-between

            +maxPad
                padding-left: 0 !important

            .form-default
                flex: calc(50% - 10px)
                max-width: calc(50% - 10px)

    &.xl-title 
        .col
            &:nth-child(1)
                flex: 127px
                max-width: 127px
                letter-spacing: 2px
                text-align: left

                +maxPad
                    flex: 100%
                    max-width: 100%
            &:nth-child(2)
                flex: calc(100% - 127px)
                max-width: calc(100% - 127px)

                +maxPad
                    flex: 100%
                    max-width: 100%

        .form-btns
            padding-left: 0 !important
            text-align: center

            a
                display: inline-block
                margin: 0 auto
                padding: 0 15px
                margin-right: 20px

                +maxPad
                    margin-right: 9px

                &:last-child
                    margin-right: 0


.hr-line
    width: 100%
    height: 1px
    background-color: #e5e5e5
    margin: 30px 0

    
.form

    label.form-title
        color: #616161
        font-size: 18px
        line-height: 40px

    .custom-message
        color: #616161
        font-size: 14px
        line-height: 1.5
        padding: 0 10px
        margin-top: 5px

    .custom-input
        input
            appearance: none
            border-radius: 0
            color: #616161
            font-size: 16px
            line-height: 1
            background-color: #f1f1f1
            border: none
            padding: 5px 10px
            width: 100%
            box-sizing: border-box
            min-height: 40px


    
.form-default
    display: inline-block
    border-radius: 5px
    background-color: #979797
    color: white
    font-size: 15px
    line-height: 38px
    text-decoration: none
    min-width: 110px
    text-align: center

    +maxPad
        margin: 0 auto

    &.form-action
        background-color: #78cca9

    img
        display: inline-block
        vertical-align: middle
        margin-top: -3px


label.checkbox
    display: inline-block
    padding-left: 30px
    position: relative
    margin-right: 15px
    cursor: pointer

    input
        display: none

    .icon-checkbox
        position: absolute
        top: 0
        left: 0
        width: 23px
        height: 23px
        background-color: #f1f1f1

        &::before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: url(../images/ico-checkbox.png) no-repeat center
            background-size: contain
            opacity: 0
            transition: all .4s ease

    input:checked + .icon-checkbox:before
        opacity: 1
        

    span
        color: #616161
        font-size: 16px
        line-height: 1.5



.content
    max-width: 470px
    margin: 0 auto

    &.sz-xl
        max-width: 570px

    &.sz-full
        max-width: 100%


    &-title
        color: #616161
        font-size: 18px
        font-weight: normal
        letter-spacing: 5px
        line-height: 1.5
        margin: 40px 0
        text-align: center

        &.fz-24
            font-size: 24px


.border-box
    border: 1px solid #e5e5e5
    padding: 60px
    width: 100%
    box-sizing: border-box

    +maxPad
        padding: 60px 20px

    &.p-30
        padding: 30px

        +maxPad
            padding: 20px

        .row
            padding: 0 20px

            +maxPad
                padding: 0

    &.signup-sms
        max-width: 472px
        margin: 0 auto


.content-navis
    display: inline-block
    padding: 0
    margin: 0
    list-style: none
    margin-left: -50px
    margin-right: -50px

    +maxPad
        margin: 0

    li
        position: relative
        padding-left: 10px
        display: inline-block
        margin: 0 50px

        +maxPad
            display: block
            margin: 0
            margin-bottom: 20px

        &::before
            content: ""
            display: inline-block
            width: 12px
            height: 22px
            background-color: #86e0bb
            margin-right: 15px
            vertical-align: middle


    a
        color: #212121
        font-size: 22px
        line-height: 1.5
        vertical-align: middle


.member-booking-table
    .row
        display: flex
        margin-left: -10px
        margin-right: -10px

        +maxPad
            margin-left: 0
            margin-right: 0
            flex-flow: column

        .col
            flex: 25%
            max-width: 25%

            +maxPad
                display: block
                flex: 100%
                max-width: 100%
    .th
        span
            display: block
            color: #616161
            font-size: 18px
            line-height: 40px
            background-color: #cde8e3
            margin: 0 10px
            padding: 0 15px
            box-sizing: border-box

        +maxPad
            display: none
            padding: 0
    .td
        border-bottom: 1px solid #e5e5e5
        padding: 8px 0

        +maxPad
            padding-bottom: 30px
            margin-bottom: 30px

        &:last-child
            border-bottom: none
        .col
            span
                display: block
                color: #616161
                font-size: 18px
                line-height: 40px
                margin: 0 10px
                padding: 0 15px
                box-sizing: border-box
            +maxPad
                margin-bottom: 5px

                span
                    padding: 0 !important
                    margin: 0

                &:before
                    content: attr(data-label)
                    flex: 100%
                    max-width: 100%
                    min-width: 100%
                    height: 100%
                    color: #6b948c
                    font-size: 18px
                    line-height: 1.5
                    text-transform: uppercase
                    font-weight: normal
                    

.member-navis
    +maxPad
        margin-bottom: 20px
    span
        display: inline-block
        padding: 0 15px
        box-sizing: border-box
        vertical-align: middle
        position: relative

        &:not(&:last-child)::before
            content: ""
            position: absolute
            top: 50%
            transform: translateY(-48%)
            right: 0
            width: 1px 
            height: 18px
            background-color: #919191


        a
            display: inline-block
            color: #6ac49c
            border-bottom: 1px solid #6ac49c
            padding: 0
            padding-bottom: 5px
            line-height: 1

            &:hover
                text-decoration: none
