#main.service-02
    .service-article
        margin-bottom: 70px

        +maxPad
            margin-bottom: 40px

        &:last-child
            margin-bottom: 0

        .content
            max-width: 830px
            box-sizing: border-box
            margin: 0 auto

        .title
            color: #86e0bb
            font-size: 23px
            text-align: left
            font-weight: bold
            padding-bottom: 8px
            margin-bottom: 70px
            border-bottom: 1px solid #e9e9e9

            h3
                margin: 0

            &.color-2
                color: #976e65

            &.center
                text-align: center


        .subtitle
            margin-bottom: 25px
            &.has-bottomline
                border-bottom: 1px solid #e9e9e9
                padding-bottom: 15px
                margin-bottom: 15px
            
            &.center
                text-align: center
            
            h4
                color: #404040
                font-size: 23px
                line-height: 1.5
                margin: 0

            br
                +maxPad
                    display: none

        .color-title
            margin-bottom: 20px
            margin-top: 60px

            &.color-red p
                color: #976e65
            &.center
                text-align: center
            p
                color: #6b948c
                font-size: 20px
                line-height: 1.5
                margin: 0

            &+p
                margin-bottom: 50px


        

        .text
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin-bottom: 18px

            +maxPad
                font-size: 16px

        .photo
            margin: 10px 0
            text-align: center

            img
                display: inline-block
                max-width: 100%

                // +maxPad
                //     transform: scale(1.5)


    .point-group
        margin-top: 60px

        &.mt-0
            margin-top: 0

    .point-group.style-custom1
        .icon
            width: 88px
            height: 88px
            margin: 0 auto 20px

        .item
            flex: 100%
            max-width: 100%
        .icon
            background: url(../images/pages/services/02_preventiveHealthcare/ico-circle01.png) no-repeat 0 0
            background-size: contain

    .point-group.style-custom2
        .icon
            width: 88px
            height: 88px
            margin: 0 auto 20px
        .title
            color: #f0aca1
        .icon
            background: url(../images/pages/services/02_preventiveHealthcare/ico-circle02.png) no-repeat 0 0
            background-size: contain

        & > .item
            +pad
                max-width: 100%

        &.color2
            .icon
                background: url(../images/pages/services/02_preventiveHealthcare/ico-circle03.png) no-repeat 0 0
                background-size: contain
    

    .point-group.style-custom3
        max-width: 650px
        margin: 0 auto
        align-items: start
        .icon
            flex: 100px
            max-width: 100px
            height: auto
        .title
            color: #f0aca1

        .subtitle
            font-weight: bold
            color: #404040
            font-size: 18px
            margin: 0
            margin-bottom: 5px

        ol
            padding-left: 15px
            margin: 0
        p
            margin: 0

        & > .item
            +pad
                max-width: 100%


    .photo-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px

        +maxPad
            flex-flow: column
            margin-left: 0
            margin-right: 0


        .photo
            margin: 0

        .item
            flex: 33.3%
            max-width: 33.3%
            padding: 0 15px
            box-sizing: border-box

            +maxPad
                flex: 100%
                max-width: 100%
                padding: 0

        h5
            color: #474747
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            margin-bottom: 15px
            text-align: center

        p
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0

    .steps-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px

        +maxPad
            flex-flow: row wrap

        .item
            flex: 20%
            max-width: 20%
            padding: 0 15px
            box-sizing: border-box
            text-align: center

            +maxPad
                flex: 50%
                max-width: 50%
                margin-bottom: 40px
            

        h5
            color: #80b0a7
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            padding-bottom: 15px
            border-bottom: 1px solid #b5b5b5
            margin-bottom: 15px
            text-align: center

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            text-align: left
            margin-bottom: 15px

            &:last-child
                margin-bottom: 0


        ol
            list-style: disc
            margin-left: 0
            padding-left: 20px


    .inline-flex
        display: inline-flex
        margin-left: -15px
        margin-right: -15px
        align-items: center

        +maxDesktop
            flex-flow: wrap row
            justify-content: center
            text-align: center

        &.has-line
            +phone
                .flex-item
                    position: relative
                    &::after
                        content: ""
                        position: absolute
                        top: 50%
                        margin-top: -25px
                        right: 0
                        width: 1px
                        height: 49px
                        background-color: #dddddd
                    &:last-child:after
                        display: none
            

        &.gap-50
            margin-top: 50px

        .flex-item
            flex: auto
            color: #616161
            font-size: 15px
            line-height: 1.5
            padding: 0 15px


    .flex.grid-4
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        column-gap: 20px

        +maxPad
            grid-template-columns: 1fr 1fr

        .flex-item
            &:nth-child(even)
                .color-descbox_title
                    background-color: #c78f77
                .color-descbox_msg
                    background-color: #f0e2dc

    .color-descbox
        &_title
            color: white
            font-size: 18px
            line-height: 1.5
            margin-bottom: 4px
            background-color: #6b948c
            text-align: center
            padding: 5px 0
            letter-spacing: 3px
            border-radius: 2px
        &_msg
            color: #616161
            font-size: 15px
            line-height: 1.5
            background-color: #ebf2f1
            padding: 20px 15px
            margin-bottom: 20px
            border-radius: 2px

            p
                margin: 0

    .table
        width: 100%
        margin: 20px 0 30px

        .tr
            display: flex
            width: 100%
            justify-content: start

            &.mob-hide
                display: flex

                +maxPad
                    display: none

            &.col-3
                .th,.td
                    flex: 25%
                    max-width: 25%
                    box-sizing: border-box

                    &:nth-child(1)
                        flex: 150px
                        max-width: 150px
                        min-width: 150px
            
            &.col-3.mob-full
                +maxPad
                    flex-flow: column
                    .td
                        flex: 100% !important
                        max-width: 100% !important
                        min-width: 100% !important

            .td
                color: #616161
                font-size: 15px
                line-height: 1.5
                text-align: left

                &.mob-hide
                    display: block

                    +maxPad
                        display: none

                &:last-child
                    .inner-table
                        margin-bottom: 0

            .bottom-dotted-line
                border-bottom: 1px dotted #cdcdcd

            +pad
                .right-solid-line
                    border-right: 1px solid #cdcdcd


            .th
                color: #6b948c
                font-size: 15px
                line-height: 1.5
                text-align: left
                padding: 10px 15px

            .td-title .td
                color: #6b948c !important
                font-size: 15px
                line-height: 1.5
                text-align: left
                padding: 10px 15px 10px 0

    .inner-table
        height: 100%
        +maxPad
            margin-bottom: 20px

        .tr
            align-items: center
            justify-content: start
            flex-flow: column
            height: 100%

        .td
            flex: 100% !important
            max-width: 100% !important
            padding: 10px 15px
            box-sizing: border-box
            width: 100%

        .th
            display: none

            +maxPad
                display: block
                flex: 100% !important
                max-width: 100% !important
                min-width: 100% !important
                font-size: 15px
                text-transform: uppercase
                font-weight: bold
                border-bottom: 1px dotted #cdcdcd

        .td
            +pad
                min-height: 80px
                height: auto

                &.height-120
                    min-height: 160px
            +maxPad
                display: flex
                &:before
                    content: attr(data-label)
                    flex: 110px
                    max-width: 110px
                    min-width: 110px
                    height: 100%
                    color: #6b948c
                    font-size: 15px
                    text-transform: uppercase
                    font-weight: normal

                span
                    flex: calc(100% - 110px)
                    max-width: calc(100% - 110px)
                    min-width: calc(100% - 110px)

    .block-figcaption
        padding: 0 15px
        box-sizing: border-box
        max-width: 660px
        margin: 0 auto 50px
        
        

        &.max-full
            max-width: 100%
            padding: 0

        &.align-center
            text-align: center

        p
            color: #616161
            font-size: 13px
            line-height: 1.5
            margin: 0
            margin-bottom: 5px

            &.dot
                margin-left: -8px

    .flex
        display: flex
        margin-bottom: 40px

        &.custom1-columns-2
            margin-bottom: 40px
            margin-left: -15px
            margin-right: -15px
            box-sizing: border-box
            flex-flow: wrap row

            +pad
                .flex-item
                    flex: calc(100% - 468px)
                    max-width: calc(100% - 468px)
                    color: #616161
                    font-size: 15px
                    line-height: 1.5
                    padding: 0 15px
                    box-sizing: border-box

                    &:nth-child(2)
                        flex: 468px
                        max-width: 468px

            +maxPad
                display: block
                margin: 0
                margin-bottom: 30px

        &.custom2-columns-2
            margin-bottom: 40px
            margin-left: -15px
            margin-right: -15px
            box-sizing: border-box
            flex-flow: wrap row

            +pad
                .flex-item
                    flex: calc(100% - 385px)
                    max-width: calc(100% - 385px)
                    color: #616161
                    font-size: 15px
                    line-height: 1.5
                    padding: 0 15px
                    box-sizing: border-box

                    &:nth-child(1)
                        flex: 385px
                        max-width: 385px

            +maxPad
                display: block
                margin: 0
                margin-bottom: 30px


    .text-group
        margin-top: 60px
        
        h3,b
            color: #474747
            font-size: 16px
            font-weight: 600
            line-height: 1.5
            margin: 0
            margin-bottom: 8px

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
        ol
            padding-left: 20px
            margin: 0
        
        .photo
            text-align: left
            margin: 15px 0

            &.center
                text-align: center