#main.service-03
    .service-article
        margin-bottom: 70px

        +maxPad
            margin-bottom: 40px

        &:last-child
            margin-bottom: 0

        .content
            max-width: 830px
            box-sizing: border-box
            margin: 0 auto

        .title
            color: #86e0bb
            font-size: 23px
            text-align: left
            font-weight: bold
            padding-bottom: 8px
            margin-bottom: 70px
            border-bottom: 1px solid #e9e9e9

            +maxPad
                margin-bottom: 30px

            h3
                margin: 0

            &.color-2
                color: #976e65

            &.center
                text-align: center


        .subtitle
            margin-bottom: 30px
            &.has-bottomline
                border-bottom: 1px solid #e9e9e9
                padding-bottom: 15px
                margin-bottom: 15px
            
            &.center
                text-align: center
            
            h4
                color: #404040
                font-size: 23px
                line-height: 1.5
                margin: 0

            br
                +maxPad
                    display: none

        .color-title
            margin-bottom: 20px
            margin-top: 60px

            &.center
                text-align: center
            p
                color: #976e65
                font-size: 20px
                font-weight: bold
                line-height: 1.5
                margin: 0

        .text
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin-bottom: 18px

            +maxPad
                font-size: 16px

        .photo
            margin: 10px 0
            text-align: center

            &.mb-40
                margin-bottom: 40px

            &.mt-40
                margin-top: 40px

            img
                display: inline-block
                max-width: 100%

                // +maxPad
                //     transform: scale(1.5)


    .point-group
        margin-top: 60px

        &.mt-0
            margin-top: 0

        

    .point-group.style-custom1
        .icon
            width: 90px
            height: 90px
            margin: 0 auto 20px

        .item
            flex: 100%
            max-width: 100%
        .icon
            background: url(../images/pages/services/03_regenerativeMedicine/ico-circle01.png) no-repeat 0 0
            background-size: contain

        +maxPad
            &.mob-full
                .item
                    display: block

                .textbox
                    padding-left: 0

        &.color2
            .icon
                background: url(../images/pages/services/03_regenerativeMedicine/ico-circle02.png) no-repeat 0 0 !important
                background-size: contain

        &.color3
            .icon
                background: url(../images/pages/services/03_regenerativeMedicine/ico-circle03.png) no-repeat 0 0 !important
                background-size: contain

    .photo-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px

        +maxPad
            flex-flow: column
            margin-left: 0
            margin-right: 0


        .photo
            margin: 0

        .item
            flex: 33.3%
            max-width: 33.3%
            padding: 0 15px
            box-sizing: border-box

            +maxPad
                flex: 100%
                max-width: 100%
                padding: 0

        h5
            color: #474747
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            margin-bottom: 15px
            text-align: center

        p
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0

    .steps-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px
        margin-top: 30px

        +maxPad
            flex-flow: row wrap
            margin-bottom: 30px

        

        .item
            flex: 20%
            max-width: 20%
            padding: 0 15px
            box-sizing: border-box
            text-align: center

            +maxPad
                flex: 50%
                max-width: 50%
                margin-bottom: 40px
        
        &.col-4 .item
            flex: 25%
            max-width: 25%

        +maxPad
            &.mob-col-2 .item
                flex: 50%
                max-width: 50%

        h5
            color: #80b0a7
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            padding-bottom: 15px
            border-bottom: 1px solid #b5b5b5
            margin-bottom: 15px
            text-align: center

        &.color2
            h5
                color: #d48587

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            text-align: left
            margin-bottom: 15px

            &:last-child
                margin-bottom: 0


        ol
            list-style: disc
            margin-left: 0
            padding-left: 20px

    ol.disc-list
        list-style: disc
        margin-left: 0
        padding-left: 20px
        color: #616161
        font-size: 15px
        line-height: 1.8
        margin: 40px 0

        &.my-0
            margin: 0

    .space-gap
        height: 70px

    .inline-flex
        display: inline-flex
        margin-left: -15px
        margin-right: -15px
        align-items: center

        .flex-item.border-left
            border-left: 1px solid #ddd

        +maxDesktop
            flex-flow: wrap row
            justify-content: center
            text-align: center

        +maxPad
            margin-left: 0
            margin-right: 0
            .flex-item.mob-border-top
                border: none
                border-top: 1px solid #ddd
                justify-content: start
                text-align: left

        


        &.has-line
            +phone
                .flex-item
                    position: relative
                    &::after
                        content: ""
                        position: absolute
                        top: 50%
                        margin-top: -25px
                        right: 0
                        width: 1px
                        height: 49px
                        background-color: #dddddd
                    &:last-child:after
                        display: none
            

        &.gap-50
            margin-top: 50px

        &.gap-b-50
            margin-bottom: 50px

        .flex-item
            flex: auto
            color: #616161
            font-size: 15px
            line-height: 1.5
            padding: 0 15px

    .flex.auto-width
        justify-content: space-between

        +maxPad
            justify-content: center
            flex-flow: wrap row

    .flex.custom-columns-4
        margin-left: -15px
        margin-right: -15px

        +maxPad
            flex-flow: wrap row
            margin-left: 0
            margin-right: 0

        .flex-item
            flex: 25%
            max-width: 25%
            min-width: 25%
            padding: 0 15px
            box-sizing: border-box
            color: #616161
            font-size: 15px
            line-height: 1.5

            +maxPad
                flex: 50%
                min-width: 50%
                max-width: 50%


    .flex.grid-4
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        column-gap: 20px

        +maxPad
            grid-template-columns: 1fr 1fr

        .flex-item
            &:nth-child(even)
                .color-descbox_title
                    background-color: #c78f77
                .color-descbox_msg
                    background-color: #f0e2dc

    .flex.flex-2
        display: flex
        align-items: center

        .flex-item
            &:nth-child(1)
                flex: 339px
                min-width: 339px
                max-width: 339px

            &:nth-child(2)
                flex: calc(100% - 339px)
                min-width: calc(100% - 339px)
                max-width: calc(100% - 339px)
                padding-left: 25px
                box-sizing: border-box

    
    +maxPad
        .flex.mob-flex-full
            flex-flow: column
            .flex-item
                flex: 100% !important
                min-width: 100% !important
                max-width: 100% !important
                padding-left: 0 !important

    .circle-list
        list-style: none
        text-align: center
        margin-top: 40px
        padding-left: 0

        +maxPad
            margin-top: 20px
            margin-bottom: 30px

        li
            display: inline-block
            padding: 0 15px
        .circle
            width: 86px
            height: 86px
            border-radius: 50%
            background-color: #aed3cc
            color: white
            font-size: 18px
            line-height: 86px
            text-align: center


    .color-descbox
        &_title
            color: white
            font-size: 18px
            line-height: 1.5
            margin-bottom: 4px
            background-color: #6b948c
            text-align: center
            padding: 5px 0
            letter-spacing: 3px
            border-radius: 2px
        &_msg
            color: #616161
            font-size: 15px
            line-height: 1.5
            background-color: #ebf2f1
            padding: 20px 15px
            margin-bottom: 20px
            border-radius: 2px

            p
                margin: 0

    .table
        width: 100%
        margin: 20px 0 30px

        .tr
            display: flex
            width: 100%
            justify-content: start

            &.mob-hide
                display: flex

                +maxPad
                    display: none

            &.col-2
                .th,.td
                    flex: 50%
                    max-width: 50%
                    box-sizing: border-box

                    &:nth-child(1)
                        flex: 170px
                        max-width: 170px
                        min-width: 170px
                
                .td-title .td
                    color: #6b948c !important

            &.col-2.mob-full
                +maxPad
                    flex-flow: column
                    .td
                        flex: 100% !important
                        max-width: 100% !important
                        min-width: 100% !important

            &.col-3
                .th,.td
                    flex: 33.3%
                    max-width: 33.3%
                    box-sizing: border-box

                    &:nth-child(1)
                        flex: 220px
                        max-width: 220px
                        min-width: 220px
            
            &.col-3.mob-full
                +maxPad
                    flex-flow: column
                    .td
                        flex: 100% !important
                        max-width: 100% !important
                        min-width: 100% !important

            &.col-4
                .th,.td
                    flex: 25%
                    max-width: 25%
                    box-sizing: border-box

                    &:nth-child(1)
                        flex: 180px
                        max-width: 180px
                        min-width: 180px
            
            &.col-4.mob-full
                +maxPad
                    flex-flow: column
                    .td
                        flex: 100% !important
                        max-width: 100% !important
                        min-width: 100% !important

            .td
                color: #616161
                font-size: 15px
                line-height: 1.5
                text-align: left

                &.mob-hide
                    display: block

                    +maxPad
                        display: none

                &:last-child
                    .inner-table
                        margin-bottom: 0

            .bottom-dotted-line
                border-bottom: 1px dotted #cdcdcd

            +pad
                .right-solid-line
                    border-right: 1px solid #cdcdcd


            .th
                color: #6b948c
                font-size: 15px
                line-height: 1.5
                text-align: left
                padding: 10px 15px
                
                &:nth-child(1)
                    padding-left: 0

            .td-title .td
                color: #616161 !important
                font-size: 15px
                line-height: 1.5
                text-align: left
                padding: 10px 15px 10px 0

    .inner-table
        height: 100%
        +maxPad
            margin-bottom: 20px

        .tr
            align-items: center
            justify-content: start
            flex-flow: column
            height: 100%

        .td
            flex: 100% !important
            max-width: 100% !important
            padding: 10px 15px
            box-sizing: border-box
            width: 100%

        .th
            display: none

            +maxPad
                display: block
                flex: 100% !important
                max-width: 100% !important
                min-width: 100% !important
                font-size: 15px
                text-transform: uppercase
                font-weight: bold
                border-bottom: 1px dotted #cdcdcd

        .td
            +pad
                min-height: 45px
                height: auto

                &.height-120
                    min-height: 160px
            +maxPad
                display: flex
                &:before
                    content: attr(data-label)
                    flex: 120px
                    max-width: 120px
                    min-width: 120px
                    height: 100%
                    color: #6b948c
                    font-size: 15px
                    line-height: 1.5
                    text-transform: uppercase
                    font-weight: normal
                    margin-right: 20px

                span
                    flex: calc(100% - 140px)
                    max-width: calc(100% - 140px)
                    min-width: calc(100% - 140px)

    .block-figcaption
        padding: 0 15px
        box-sizing: border-box
        max-width: 660px
        margin: 0 auto 50px
        
        

        &.max-full
            max-width: 100%
            padding: 0

        &.align-center
            text-align: center

        p
            color: #616161
            font-size: 13px
            line-height: 1.5
            margin: 0
            margin-bottom: 5px

            &.dot
                margin-left: -8px

    .flex
        display: flex
        margin-bottom: 40px

        ol
            padding-left: 15px

        &.columns-2
            margin-top: 40px
            margin-bottom: 40px
            margin-left: -15px
            margin-right: -15px
            box-sizing: border-box
            flex-flow: wrap row

            +pad
                .flex-item
                    flex: 50%
                    max-width: 50%
                    color: #616161
                    font-size: 15px
                    line-height: 1.5
                    padding: 0 15px
                    box-sizing: border-box

            +maxPad
                margin-left: 0
                margin-right: 0
        
        &.mob-flex-full
            +maxPad
                margin-left: 0
                margin-right: 0
                text-align: center
                img
                    margin-bottom: 30px
                .flex-item
                    flex: 100%
                    max-width: 100%
                    
                .point-group
                    text-align: left

        &.custom1-columns-full
            margin-top: 40px
            margin-bottom: 40px
            box-sizing: border-box
            flex-flow: wrap row
            width: 100%

            .flex-item
                flex: 100%
                min-width: 100%
                max-width: 100%

        &.custom1-columns-2
            margin-bottom: 40px
            margin-left: -15px
            margin-right: -15px
            box-sizing: border-box
            flex-flow: wrap row

            +pad
                .flex-item
                    flex: calc(100% - 468px)
                    max-width: calc(100% - 468px)
                    color: #616161
                    font-size: 15px
                    line-height: 1.5
                    padding: 0 15px
                    box-sizing: border-box

                    &:nth-child(2)
                        flex: 468px
                        max-width: 468px

            +maxPad
                display: block
                margin: 0
                margin-bottom: 30px

        &.custom2-columns-2
            margin-bottom: 40px
            margin-left: -15px
            margin-right: -15px
            box-sizing: border-box
            flex-flow: wrap row
            align-items: center

            

            +pad
                .flex-item
                    flex: calc(100% - 373px)
                    max-width: calc(100% - 373px)
                    color: #616161
                    font-size: 15px
                    line-height: 1.5
                    padding: 0 15px
                    box-sizing: border-box

                    &:nth-child(2)
                        flex: 373px
                        max-width: 373px

            +maxPad
                display: block
                margin: 0
                margin-bottom: 30px

                img
                    margin-top: 30px

            &.order-revers
                .flex-item:nth-child(2)
                    order: 1
                .flex-item:nth-child(1)
                    order: 2

    .circle-xl
        width: 170px
        height: 170px
        border-radius: 50%
        background-color: #aed3cc
        color: white
        font-size: 18px
        line-height: 1.5
        display: flex
        align-items: center
        justify-content: center

        +maxPad
            margin: 30px

        .inner
            text-align: center

            b
                font-size: 50px
                line-height: 1
                font-family: "Century Gothic"
                font-style: italic
                font-weight: normal
    

    .flex-item.pl-20
        padding-left: 20px
        
    .text-group
        margin-top: 60px
        
        h3,b
            color: #474747
            font-size: 16px
            font-weight: 600
            line-height: 1.5
            margin: 0
            margin-bottom: 8px

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
        ol
            padding-left: 20px
            margin: 0
        
        .photo
            text-align: left
            margin: 15px 0

            &.center
                text-align: center


    .point-list
        max-width: 580px
        margin: 0 auto

    .point-row
        display: flex
        align-items: center
        margin-bottom: 20px
        

        .point-label
            flex: 187px
            min-width: 187px
            max-width: 187px
            height: 52px
            color: white
            font-size: 18px
            line-height: 52px
            border-radius: 50px
            background-color: #f3c6c7
            text-align: center
            letter-spacing: 2px

            +maxPad
                flex: 150px
                min-width: 150px
                max-width: 150px
                font-size: 16px

        .point-text
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin-left: 15px