#main.service-04
    .service-article
        margin-bottom: 70px

        +maxPad
            margin-bottom: 40px

        &:last-child
            margin-bottom: 0

        .content
            max-width: 830px
            box-sizing: border-box
            margin: 0 auto

        .title
            color: #86e0bb
            font-size: 23px
            text-align: left
            font-weight: bold
            padding-bottom: 8px
            margin-bottom: 70px
            border-bottom: 1px solid #e9e9e9

            &.color-2
                color: #976e65

            &.center
                text-align: center

            h3
                margin: 0

        .subtitle
            margin-bottom: 25px
            h4
                color: #404040
                font-size: 23px
                font-weight: normal
                line-height: 1.5
                margin: 0

        .color-title
            margin-bottom: 20px
            margin-top: 60px
            p
                color: #976e65
                font-size: 22px
                line-height: 1.5
                margin: 0

            &+p
                margin-bottom: 50px

        .text
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin-bottom: 18px

            +maxPad
                font-size: 16px

        .photo
            margin: 40px 0
            text-align: center

            img
                display: inline-block
                max-width: 100%

    .point-group
        margin-top: 20px

        &.gap-50
            margin: 50px 0

    .linebox-title
        color: #f0aca1
        font-size: 23px
        line-height: 1.5
        margin: 30px 0
        text-align: center

        span
            display: inline-block
            padding: 6px
            border: 1px solid #f0aca1

    .point-group.style-custom1
        margin-bottom: 20px
        flex-flow: wrap row
        justify-content: start

        &.m-flex-columns
            .item
                flex-flow: column

        &.icon-center
            .icon
                margin: 0 auto 30px

        +maxPad
            .textbox
                padding-left: 15px

        .icon
            width: 88px
            height: 88px
            margin: 0
            margin-bottom: 20px

        .textbox
            text-align: left
            color: #616161
            font-size: 15px
            line-height: 1.5

            span.number
                font-size: 40px
                line-height: 1
                font-style: italic
                font-family: Century Gothic, Arial, Helvetica, sans-serif
                font-weight: bold

            &.center
                text-align: center

            +maxPad
                &.center
                    text-align: left

            ol
                padding-left: 20px

        .item
            flex: 100%
            max-width: 100%
            margin-bottom: 30px

        .icon
            background: url(../images/pages/services/04_lipomassage/ico-color01.png) no-repeat 0 0
            background-size: contain


            
    .photo-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px

        +maxPad
            flex-flow: column
            margin-left: 0
            margin-right: 0

            &.m-columns-2
                flex-flow: wrap row
                justify-content: center
                .item
                    flex: 50%
                    max-width: 50%
                    margin-bottom: 20px

        .photo
            margin: 0

        .item
            flex: 33.3%
            max-width: 33.3%
            padding: 0 15px
            box-sizing: border-box

            +maxPad
                flex: 100%
                max-width: 100%
                padding: 0

        h5
            color: #474747
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            margin-bottom: 15px
            text-align: center

        p
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0


        .textbox.center
            text-align: center


    .steps-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px

        &.mb-0
            margin-bottom: 0

        +maxPad
            flex-flow: row wrap

            &.m-flex-2columns
                .item
                    flex: 50%
                    max-width: 50%
                    margin-bottom: 10px !important

        .item
            flex: 20%
            max-width: 20%
            padding: 0 15px
            box-sizing: border-box
            text-align: center

            &.mb-0
                margin-bottom: 0

            +maxPad
                flex: 50%
                max-width: 50%
                margin-bottom: 40px
            

        h5
            color: #80b0a7
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            padding-bottom: 15px
            border-bottom: 1px solid #b5b5b5
            margin-bottom: 15px
            text-align: center

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            text-align: left
            margin-bottom: 15px

            &:last-child
                margin-bottom: 0


        ol
            list-style: disc
            margin-left: 0
            padding-left: 20px

    .text-group
        margin-bottom: 60px
        h3,b
            color: #474747
            font-size: 16px
            font-weight: 600
            line-height: 1.5
            margin: 0
            margin-bottom: 8px

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
        ol
            padding-left: 20px
            margin: 0
        
        .photo
            text-align: left
            margin: 15px 0

    .flex
        display: flex
        
        margin-bottom: 40px

        &.columns-2
            margin: 20px 0
            margin-left: -10px
            margin-right: -10px
            box-sizing: border-box
            flex-flow: wrap row

            +maxPad
                &.m-columns-2-style1
                    flex-flow: column

                    img
                        max-width: 100%

                    .flex-item
                        flex: 100%
                        max-width: 100%
                        text-align: center
                        &:nth-child(1)
                            margin-bottom: 20px


            .flex-item
                flex: 50%
                max-width: 50%
                text-align: center
                color: #616161
                font-size: 15px
                line-height: 1.5
                padding: 0 10px
                box-sizing: border-box

                &.pl-20
                    padding-left: 20px


        &.columns-4
            margin: 20px 0
            margin-left: -10px
            margin-right: -10px
            flex-flow: wrap row
            box-sizing: border-box

            +pad
                margin-left: -10px
                margin-right: -10px
                text-align: center

            +maxPad
                &.m-columns-4-style1
                    text-align: center
                    max-width: 420px
                    margin: 0 auto
                    .flex-item
                        margin-bottom: 20px

            .photo
                margin: 0
                margin-bottom: 10px

            p
                margin: 0
                padding: 0 15px
            
            .flex-item
                flex: 50%
                max-width: 50%
                text-align: center
                color: #616161
                font-size: 15px
                line-height: 1.5
                padding: 0 10px
                box-sizing: border-box

                +pad
                    flex: 25%
                    max-width: 25%


    .color-textdesc
        background-color: #dfedeb
        padding: 20px 20px
        margin-bottom: 17px

        .mb-0
            margin-bottom: 0

        h4
            color: #547c74
            font-size: 18px
            margin: 0
            text-align: left
            line-height: 1.5

        p
            color: #616161
            font-size: 15px
            line-height: 1.5
            text-align: left


    .block-figcaption
        padding: 0 15px
        box-sizing: border-box
        max-width: 660px
        margin: 0 auto 50px
        

        &.max-full
            max-width: 100%
            padding: 0

        p
            color: #616161
            font-size: 13px
            line-height: 1.5
            margin: 0
            margin-bottom: 5px

            &.dot
                margin-left: -8px
