#main.service-01
    .service-article
        margin-bottom: 70px

        +maxPad
            margin-bottom: 40px

        &:last-child
            margin-bottom: 0

        .content
            max-width: 830px
            box-sizing: border-box
            margin: 0 auto
        .title
            font-size: 23px
            font-weight: bold
            text-align: center
            padding-bottom: 8px
            margin-bottom: 30px
            border-bottom: 1px solid #e9e9e9

            h3
                margin: 0

        .text
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin-bottom: 18px

            +maxPad
                font-size: 16px

        .photo
            margin: 10px 0
            text-align: center

            img
                display: inline-block
                max-width: 100%

                // +maxPad
                //     transform: scale(1.5)

        &.color1
            .icon
                width: 88px
                height: 88px
            .title
                color: #f0aca1
            .icon
                background: url(../images/pages/services/01_womansCare/ico-circle01.png) no-repeat 0 0
                background-size: contain

        &.color2
            .icon
                width: 88px
                height: 88px
                margin: 0 auto
            .title
                color: #f0aca1
            .icon
                background: url(../images/pages/services/01_womansCare/ico-circle02.png) no-repeat 0 0
                background-size: contain