#main.service-07
    .service-article
        margin-bottom: 70px

        +maxPad
            margin-bottom: 40px

        &:last-child
            margin-bottom: 0

        .content
            max-width: 830px
            box-sizing: border-box
            margin: 0 auto

        .title
            color: #86e0bb
            font-size: 23px
            text-align: left
            font-weight: bold
            padding-bottom: 8px
            margin-bottom: 70px
            border-bottom: 1px solid #e9e9e9

            &.mb-40
                margin-bottom: 40px

            &.color-2
                color: #7097a3

            &.center
                text-align: center

            h3
                margin: 0

        .subtitle
            margin-bottom: 25px
            h4
                color: #404040
                font-size: 23px
                font-weight: normal
                line-height: 1.5
                margin: 0

        .color-title
            margin-bottom: 20px
            margin-top: 60px
            p
                color: #6b948c
                font-size: 20px
                line-height: 1.5
                margin: 0

            &+p
                margin-bottom: 50px

        .text
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin-bottom: 18px

            b.color-text
                color: white
                padding: 0 5px
                background-color: #b7b7b7
                font-size: 18px
                font-weight: normal
                line-height: 1.5

            +maxPad
                font-size: 16px

        .photo
            margin: 10px 0
            text-align: center

            &.mb-50
                margin-bottom: 50px

            &+figcaption
                color: #616161
                font-size: 13px
                line-height: 1.5
                text-align: center
                display: block
                padding: 10px 0
                &.mb-50
                    margin-bottom: 50px

            img
                display: inline-block
                max-width: 100%

    .point-group
        margin-top: 20px

    .point-group.style-custom1
        margin-bottom: 20px

        &.mt-40
            margin-top: 40px
        &.mb-40
            margin-bottom: 40px

        +maxPad
            &.mob-custom1 .item
                flex-flow: column

                .textbox
                    padding-left: 0
                    width: 100% !important
                    flex: 100% !important

                .steps-items
                    display: block
                    .item
                        display: block

        .textbox
            &.align-left
                text-align: left

            small
                font-size: 15px
                line-height: 1

        .icon
            width: 88px
            height: 88px
            margin: 0 auto 20px

        .text
            text-align: center

        .item
            flex: 100%
            max-width: 100%
        .icon
            background: url(../images/pages/services/06_rhytidectomy/ico-circle01.png) no-repeat 0 0
            background-size: contain

        &.color-2
            .icon
                background: url(../images/pages/services/06_rhytidectomy/ico-circle02.png) no-repeat 0 0
                background-size: contain

        &.color-3
            .icon
                background: url(../images/pages/services/06_rhytidectomy/ico-circle03.png) no-repeat 0 0
                background-size: contain

    .steps-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px
        text-align: center

        .arrow
            position: absolute
            top: 60px
            right: -10%
            width: 20%
            max-width: 68px

        &.mt-30
            margin-top: 30px

        +maxPad
            flex-flow: row wrap
            margin-bottom: 20px

        img
            display: inline-block
            max-width: 100%
            margin-bottom: 20px

        .label
            padding: 3px
            color: #3a7076
            font-size: 14px
            line-height: 22px
            border: 1px solid #3a7076
            margin-bottom: 10px

        &.style1
            flex-flow: wrap row

            .item:nth-child(3)
                .arrow
                    display: none

            +maxPad
                .item:nth-child(2n),.item:nth-child(5)
                    .arrow
                        display: none !important
                .item:nth-child(3)
                    .arrow
                        display: block

                .item:nth-child(4)
                    display: none

        .item
            position: relative
            flex: 33.3%
            max-width: 33.3%
            padding: 0 15px
            box-sizing: border-box
            text-align: center

            +maxPad
                flex: 50%
                max-width: 50%
                margin-bottom: 40px

        h5
            color: #7097a3
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            margin-bottom: 14px
            text-align: center

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            text-align: left
            margin-bottom: 15px

            &.small
                font-size: 12px !important

            &:last-child
                margin-bottom: 0

        ol
            list-style: disc
            margin-left: 0
            padding-left: 20px

            &.num-list
                list-style: auto

    ol.dot-list
        list-style: none
        margin: 0
        padding-left: 0
        margin-bottom: 30px
        li
            padding-left: 20px
            position: relative
            color: #616161
            font-size: 15px
            line-height: 1.5

            &::before
                content: ""
                display: inline-block
                position: absolute
                top: 10px
                left: 0
                width: 5px
                height: 5px
                border-radius: 50%
                background-color: #7097a3

    .text-group
        margin-bottom: 20px
        h3,b
            color: #474747
            font-size: 16px
            font-weight: 600
            line-height: 1.5
            margin: 0
            margin-bottom: 8px

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
        ol
            padding-left: 20px
            margin: 0

        .flex
            margin: 15px 0
            .flex-item
                flex: auto

                &:nth-child(1)
                    min-width: 60px
                    flex: 60px
                    max-width: 60px

    .block-title
        width: 305px
        height: 41px
        background: url(../images/pages/services/07_exosome/ico-box01.jpg) no-repeat 0 0
        margin: 0 auto
        color: #474747
        font-size: 16px
        line-height: 41px
        text-align: center
        margin: 70px auto 30px

    .qa-block
        .qa-item
            margin-bottom: 20px

        p
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            margin-bottom: 5px
        .q
            position: relative
            padding-left: 20px
            &::before
                position: absolute
                top: 0
                left: 0
                content: "Q."
                font-family: Century Gothic, Arial, Helvetica, sans-serif
                font-weight: bold

        .a
            position: relative
            padding-left: 20px
            &::before
                position: absolute
                top: 0
                left: 0
                content: "A."
                font-family: Century Gothic, Arial, Helvetica, sans-serif
                font-weight: bold

        .qa-photo
            display: inline-flex
            margin: 20px 0
            justify-content: center
            text-align: center

            +maxPad
                display: flex
                flex-flow: wrap row

        .photo-item
            flex: auto
            padding: 0 10px

            img
                max-width: 100%

            +maxPad
                flex: 50%
                margin-bottom: 20px

        .flex
            display: flex
            max-width: 315px
            margin: 0 auto

        .flex-item
            flex: 50%
            max-width: 50%
            text-align: center
            color: #616161
            font-size: 15px
            line-height: 1.5

    .flex
        display: flex
        width: 100%

        &.mt-33
            margin-top: 33px !important
        &.mb-33
            margin-bottom: 33px !important

        &.columns-2
            margin: 30px 0 20px

            +maxPad
                flex-flow: column
                justify-content: center

            .flex-item
                flex: 100%

                &:nth-child(1)
                    text-align: center
                +pad
                    &:nth-child(1)
                        flex: 42%
                        max-width: 42%

                    &:nth-child(2)
                        flex: 58%
                        max-width: 58%
                        padding-left: 40px
                        padding-right: 0
                        box-sizing: border-box

                .photo
                    margin: 0

                    +maxPad
                        display: inline-block

                    img
                        display: block

        &.columns-4
            margin: 20px 0
            flex-flow: wrap row

            +pad
                margin-left: -10px
                margin-right: -10px
                text-align: center

            .flex-item
                flex: 50%
                max-width: 50%
                text-align: center
                color: #616161
                font-size: 15px
                line-height: 1.5
                padding: 0 10px
                box-sizing: border-box

                +pad
                    flex: 25%
                    max-width: 25%

            .photo
                position: relative
                display: inline-block

                img
                    display: block

                img.position
                    position: absolute
                    top: 0
                    left: -5.2%
                    width: 105.2%
                    max-width: unset

    .table
        width: 100%
        margin: 20px 0 30px

        .tr
            display: flex
            width: 100%
            justify-content: start

            &.mob-hide
                display: flex

                +maxPad
                    display: none

            &.col-4
                .th,.td
                    flex: 33.3%
                    max-width: 33.3%
                    box-sizing: border-box

                    &:nth-child(1)
                        flex: 150px
                        max-width: 150px
                        min-width: 150px

            &.col-4.mob-full
                +maxPad
                    flex-flow: column
                    .td
                        flex: 100% !important
                        max-width: 100% !important
                        min-width: 100% !important

            .td
                color: #616161
                font-size: 15px
                line-height: 1.5
                text-align: left

                &.mob-hide
                    display: block

                    +maxPad
                        display: none

            .bottom-dotted-line
                border-bottom: 1px dotted #cdcdcd

            +pad
                .right-solid-line
                    border-right: 1px solid #cdcdcd

            .th
                color: #c93e74
                font-size: 15px
                line-height: 1.5
                text-align: left
                padding: 10px 15px

            .td-title .td
                color: #c93e74 !important
                font-size: 15px
                line-height: 1.5
                text-align: left
                padding: 10px 15px 10px 0

    .inner-table
        height: 100%

        +maxPad
            margin: 20px 0
        .tr
            align-items: center
            justify-content: start
            flex-flow: column
            height: 100%

        .td
            flex: 100% !important
            max-width: 100% !important
            padding: 10px 15px
            box-sizing: border-box
            width: 100%

        .th
            display: none

            +maxPad
                display: block
                flex: 100% !important
                max-width: 100% !important
                min-width: 100% !important
                font-size: 15px
                text-transform: uppercase
                font-weight: bold
                border-bottom: 1px dotted #cdcdcd

        .td
            +maxPad
                &:before
                    content: attr(data-label)
                    float: left
                    width: 110px
                    color: #c93e74
                    font-size: 15px
                    text-transform: uppercase
                    font-weight: normal
