#main.service-05
    .service-article
        margin-bottom: 70px

        +maxPad
            margin-bottom: 40px

        &:last-child
            margin-bottom: 0

        .content
            max-width: 830px
            box-sizing: border-box
            margin: 0 auto

        .title
            color: #86e0bb
            font-size: 23px
            text-align: left
            font-weight: bold
            padding-bottom: 8px
            margin-bottom: 70px
            border-bottom: 1px solid #e9e9e9

            &.color-2
                color: #976e65

            &.center
                text-align: center

            h3
                margin: 0

        .subtitle
            margin-bottom: 25px
            h4
                color: #404040
                font-size: 23px
                font-weight: normal
                line-height: 1.5
                margin: 0

        .color-title
            margin-bottom: 20px
            margin-top: 60px
            p
                color: #6b948c
                font-size: 20px
                line-height: 1.5
                margin: 0

            &+p
                margin-bottom: 50px

        .text
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin-bottom: 18px

            +maxPad
                font-size: 16px

        .photo
            margin: 40px 0
            text-align: center

            img
                display: inline-block
                max-width: 100%

    .point-group
        margin-top: 20px

        &.gap-50
            margin: 50px 0

    .linebox-title
        color: #f0aca1
        font-size: 23px
        line-height: 1.5
        margin: 30px 0
        text-align: center

        span
            display: inline-block
            padding: 6px
            border: 1px solid #f0aca1

    .point-group.style-custom1
        margin-bottom: 20px

        +maxPad
            &.mob-custom1 .item
                flex-flow: column

                .textbox
                    padding-left: 0
                    width: 100% !important
                    flex: 100% !important

                .steps-items
                    display: block
                    .item
                        display: block

                        

        .icon
            width: 88px
            height: 88px
            margin: 0 auto 20px

        .textbox
            text-align: left
            color: #616161
            font-size: 15px
            line-height: 1.5

            &.center
                text-align: center

            +maxPad
                &.center
                    text-align: left

            ol
                padding-left: 20px

        .item
            flex: 100%
            max-width: 100%
        .icon
            background: url(../images/pages/services/05_cheekLift/ico-circle01.png) no-repeat 0 0
            background-size: contain


        &.color-2
            
            .icon
                background: url(../images/pages/services/05_cheekLift/ico-circle02.png) no-repeat 0 0
                background-size: contain

    .steps-items
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 60px

        +maxPad
            flex-flow: row wrap

        .item
            flex: 25%
            max-width: 25%
            padding: 0 15px
            box-sizing: border-box
            text-align: center

            +maxPad
                flex: 50%
                max-width: 50%
                margin-bottom: 40px
            

        h5
            color: #c78f77
            font-size: 18px
            font-weight: normal
            line-height: 1.5
            margin: 0
            padding-bottom: 15px
            border-bottom: 1px solid #b5b5b5
            margin-bottom: 15px
            text-align: center

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            text-align: left
            margin-bottom: 15px

            &:last-child
                margin-bottom: 0


        ol
            list-style: disc
            margin-left: 0
            padding-left: 20px


    .text-group
        margin-bottom: 20px
        h3,b
            color: #474747
            font-size: 16px
            font-weight: 600
            line-height: 1.5
            margin: 0
            margin-bottom: 8px

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.5
        ol
            padding-left: 20px
            margin: 0
        
        .flex
            margin: 15px 0
            .flex-item
                flex: auto

                &:nth-child(1)
                    min-width: 60px
                    flex: 60px
                    max-width: 60px


    .flexbox
        display: inline-flex
        align-items: center

        color: #616161
        font-size: 13px
        line-height: 1.5

        +maxPad
            flex-flow: column

        &.col-2
            .flex-item
                padding: 0 15px
                box-sizing: border-box

                +pad
                    &.has-text
                        padding-left: 65px

                    &.has-img
                        flex: auto
                        max-width: unset

        .flex-item
            +maxPad
                &.m-order-2
                    order: 2
                &.m-order-1
                    order: 1


    .style-custom1.sample-flex
        margin-top: 40px
        .item
            display: flex
            flex-flow: wrap row
            align-items: flex-start

            +maxPad
                flex-flow: column

            .icon
                flex: 88px
                max-width: 88px
                margin: 0

                +maxPad
                    margin: 0 auto 20px

            .textbox
                flex: calc(100% - 88px)
                max-width: calc(100% - 88px)
                padding-left: 30px
                box-sizing: border-box

                +maxPad
                    flex: 100%
                    max-width: 100%
                    padding-left: 0
                    margin: 0 auto

        .flex
            display: flex

            .flex-item
                max-width: 50%
                flex: 50%
                box-sizing: border-box

        .sample-itemsbox
            display: inline-flex
            flex-flow: wrap row
            margin-left: -10px
            margin-right: -10px
            justify-content: start
            text-align: left

            +maxPad
                max-width: 500px
                margin: 0 auto

            +phone
                text-align: center

        .sample-items
            display: inline-flex
            align-items: center
            flex: 50%
            max-width: 50%
            padding: 15px 10px
            box-sizing: border-box

            +maxDesktop
                display: flex
                flex-flow: column
                align-items: flex-start
                justify-content: start
                width: 100%

            // +maxPad
            //     text-align: center
            //     justify-content: center
            //     align-items: center

            .sample-item
                flex: auto
                color: #616161
                font-size: 15px
                line-height: 1
                text-align: left
                &:nth-child(2)
                    padding-top: 15px
                    box-sizing: border-box

                +desktop
                    &:nth-child(1)
                        max-width: 133px
                        flex: 133px
                    &:nth-child(2)
                        padding-top: 0
                        padding-left: 15px
                        box-sizing: border-box

                +maxPad
                    text-align: center

                p
                    margin: 0
                    margin-bottom: 10px

      


    .bfbox
        display: flex
        margin: 20px 0
        justify-content: center
        text-align: center

        &.max-362 .bfbox-inner
            max-width: 362px
            margin: 0 auto

        p
            color: #616161
            font-size: 18px
            line-height: 1.5

        +maxPad
            display: flex
            flex-flow: wrap row

        .bfbox-item
            flex: auto
            padding: 0 10px

            img
                max-width: 100%

            +maxPad
                flex: 50%
                margin-bottom: 20px

        .flex
            display: flex

        .flex-item
            flex: 50%
            max-width: 50%
            text-align: center
            color: #616161
            font-size: 15px
            line-height: 1.5

    .block-title
        width: 153px
        height: 41px
        background: url(../images/pages/services/05_cheekLift/ico-box01.jpg) no-repeat 0 0
        margin: 0 auto
        color: #474747
        font-size: 16px
        line-height: 41px
        text-align: center
        margin: 50px auto

    .qa-block
        .qa-item
            margin-bottom: 20px

        p
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            margin-bottom: 5px
        .q
            position: relative
            padding-left: 20px
            font-weight: bold
            &::before
                position: absolute
                top: 0
                left: 0
                content: "Q."
                font-family: Century Gothic, Arial, Helvetica, sans-serif
                font-weight: bold
                

        .a
            position: relative
            padding-left: 20px
            &::before
                position: absolute
                top: 0
                left: 0
                content: "A."
                font-family: Century Gothic, Arial, Helvetica, sans-serif
                font-weight: bold


        .qa-photo
            display: inline-flex
            margin: 20px 0
            justify-content: center
            text-align: center

            +maxPad
                display: flex
                flex-flow: wrap row

        .photo-item
            flex: auto
            padding: 0 10px

            img
                max-width: 100%

            +maxPad
                flex: 50%
                margin-bottom: 20px

        .flex
            display: flex
            max-width: 315px
            margin: 0 auto

        .flex-item
            flex: 50%
            max-width: 50%
            text-align: center
            color: #616161
            font-size: 15px
            line-height: 1.5