@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap')



@import '_mixin'

.form-box
    max-width: 850px
    margin: 0 auto
    border: 1px solid #e5e5e5
    background-color: #fff
    position: relative
    text-align: center
    padding: 30px 15px
    margin-bottom: 30px

.form-title
    color: #5a5a5a
    font-size: 24px
    line-height: 1.5
    font-weight: 300
    letter-spacing: 16px
    margin: 35px 0 50px

    +maxPad
        margin: 25px 0 30px

.form-msg
    color: #86e0bb
    font-size: 16px
    font-weight: 400
    letter-spacing: 5px
    line-height: 1.5
    text-align: center
    padding-top: 10px


.form-user-booking-result
    max-width: 500px
    width: 100%
    margin: 0 auto 60px
    .item
        display: flex
        color: #616161
        font-size: 18px
        line-height: 1.6
        word-break: break-all
        .col
            padding: 5px 0
            &:nth-child(1)
                position: relative
                text-align: left
                flex: 110px
                max-width: 110px
                min-width: 110px

                +maxPad
                    padding-left: 15px

                +desktop
                    flex: 130px
                    max-width: 130px
                    min-width: 130px
                    
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    right: 15px
                    width: 1px
                    bottom: 0
                    background-color: #e5e5e5
                
            &:nth-child(2)
                text-align: left
                padding-left: 10px
                color: #616161
                font-size: 16px

                +desktop
                    padding-left: 20px

.btn-bottom
    margin-bottom: 30px
    +desktop
        display: inline-block
        margin-bottom: -34px
    .btn-default
        display: block
        padding-left: 15px
        padding-right: 15px
        margin-top: 0
        margin-bottom: 10px

        +desktop
            min-width: 200px
            width: auto
            display: inline-block
            margin-right: 16px
            padding-left: 30px
            padding-right: 30px
            box-sizing: border-box
.form-inner
    max-width: 720px
    width: 80%
    margin: 0 auto
    &.title-align-right
        .form-col:nth-child(1)
            text-align: right
    +maxPad
        width: 100%

    &.mt-50
        padding-top: 50px


.form-group
    display: flex
    margin-bottom: 26px
    text-align: left

    // &.member
    //     align-items: center

    // &.align-top
    //     align-items: start

    //     +maxPad
    //         .form-col:nth-child(1)
    //             margin-top: 5px

    &:last-child
        margin-bottom: 0
    .msg
        color: #6a6a6a
        font-size: 15px
        line-height: 1.5
        display: inline-block
        vertical-align: middle

        +maxPad
            display: block
            padding-top: 8px

    .form-col
        &:nth-child(1)
            flex: 25%
            min-width: 100px
            max-width: 155px
            text-align: right
            text-align: left
            color: #616161
            font-size: 18px
            line-height: 1.2
            padding-right: 18px
            box-sizing: border-box
            
            +pad
                flex: 25%
                min-width: 25%
                max-width: 155px

            small
                font-size: 15px
        &:nth-child(2)
            flex: 75%


            


.custom-option
    display: block
    position: relative
    background-color: #f1f1f1
    padding: 8px 12px
    padding-left: 40px
    margin-bottom: 8px
    cursor: pointer

    span
        display: inline-block
        color: #6a6a6a
        font-size: 16px
        line-height: 1.5

    input
        display: none

        &:checked + .btn-radio::before
            opacity: 1

    .btn-radio
        position: absolute
        top: 13px
        left: 15px
        width: 14px
        height: 14px
        border-radius: 50%
        border: 1px solid #848484
        background-color: #fff

        &::before
            content: ""
            position: absolute
            top: 3px
            left: 3px
            right: 3px
            bottom: 3px
            background-color: #848484
            border-radius: 50%
            opacity: 0
            transition: opacify .5s ease


.time-items
    +phone
        display: flex
        margin-left: -3px
        margin-right: -3px
        .item
            flex: 33.3%
            padding: 0 3px
            box-sizing: border-box

        &.col-2
            display: flex
            flex-flow: wrap row
            .item
                flex: 50%
                padding: 0 3px
                box-sizing: border-box

.custom-option-light
    display: block
    position: relative
    padding: 8px 12px
    padding-left: 40px
    margin-bottom: 8px
    cursor: pointer
    position: relative
    overflow: hidden
    background-color: #f1f1f1

    .bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: #aed3cc
        opacity: 0

    span
        display: inline-block
        color: #616161
        font-size: 16px
        line-height: 1
        position: relative
        z-index: 2

    input
        display: none

        &:checked + .btn-radio
            border-color: #fff
            &::before
                opacity: 1

        &:checked ~ .bg
            opacity: 1

        &:checked ~ span
            color: white

    .btn-radio
        position: absolute
        top: 13px
        left: 15px
        width: 14px
        height: 14px
        border-radius: 50%
        border: 1px solid #6d6d6d
        z-index: 2

        &::before
            content: ""
            position: absolute
            top: 3px
            left: 3px
            right: 3px
            bottom: 3px
            background-color: #ffffff
            border-radius: 50%
            opacity: 0
            transition: opacify .5s ease

.user-result
    background-color: #aed3cc
    padding: 13px
    margin-top: 12px
    margin-bottom: 12px
    display: none

    .space-line
        margin: 15px -13px
        height: 2px
        width: auto
        background-color: #fff

    &.show
        display: block

    p
        color: white
        font-size: 15px
        line-height: 1.5
        margin: 0
        margin-bottom: 10px

    input

        &:checked + .btn-radio
            border-color: #aed3cc
            &::before
                opacity: 1
                background-color: #aed3cc

        &:checked ~ .bg
            opacity: 1


    


.custom-input
    appearance: none
    border: none
    background-color: #f1f1f1
    color: #616161
    font-size: 16px
    line-height: 1
    padding: 7px 15px
    box-sizing: border-box
    width: 100%
    border-radius: 0
    min-height: 39px

    +maxPad
        padding: 8px 15px
        min-height: 35px

    &::placeholder
        color: #616161
        text-align: center


    &[readonly]
        min-height: 20px
        background: none
        user-select: none
        pointer-events: none

        &:focus
            border: none

.custom-input-white
    display: inline-block
    vertical-align: top
    appearance: none
    border: none
    background-color: #f1f1f1
    color: #616161
    font-size: 16px
    line-height: 1
    padding: 7px 15px
    box-sizing: border-box
    width: 100%
    max-width: 189px
    text-align: center

    +maxPad
        max-width: calc(100% - 42px)
        padding: 8px 15px
        min-height: 35px

    &.full
        max-width: calc(100% - 42px)

    &::placeholder
        color: #6a6a6a

.btn-default
    margin: 0 auto
    margin-bottom: -32px
    width: 200px
    height: 55px
    border-radius: 65px
    border: 1px solid #fff
    background-color: #fed28b
    text-align: center
    user-select: none

    +desktop
        transform: translateX(20px)
        width: 200px
        height: 55px
        margin-bottom: 10px

    +desktop_md
        margin-bottom: -32px
        width: 262px
        height: 65px
        border-radius: 65px

    a
        color: #645236
        font-weight: 500
        text-decoration: none
        text-align: center
        display: block
        width: 100%
        height: 100%
        font-size: 24px
        line-height: 55px

        +desktop
            font-size: 24px
            line-height: 55px

        +desktop_md
            font-size: 25px
            line-height: 65px


.btn-date
    display: inline-block
    width: 37px
    height: 37px
    background: url(../images/ico-date.png) no-repeat center
    vertical-align: middle


.checkbox
    position: relative
    cursor: pointer
    text-align: left
    padding-top: 50px

    +maxPad
        padding-top: 20px

    &.member-detail
        padding-left: 170px
        padding-top: 0

        +maxPad
            padding-left: 0

            .btn
                margin: 0 auto

        label.checkbox-inlineblock
            display: block
            margin-bottom: 20px

            

    label.checkbox-inlineblock
        display: inline-block
        margin-right: 15px

        +maxPad
            display: block
    .btn
        display: inline-block
        width: 138px

        +maxPad
            display: block
            margin: 0
            margin-top: 40px
        

        
label.checkbox-inlineblock
    position: relative
    cursor: pointer
    display: inline-block
    padding-left: 30px
    margin-right: 20px

    span
        color: #6a6a6a
        font-size: 15px
        line-height: 1.2

        a
            color: #6a6a6a
    input
        display: none

        &:checked + .btn-checkbox::before,
        &:checked + .btn-radio::before
            opacity: 1

    .btn-checkbox,.btn-radio
        position: absolute
        top: 4px
        left: 0
        width: 19px
        height: 19px
        border-radius: 2px
        background-color: #f1f1f1
        z-index: 2

        &::before
            content: ""
            position: absolute
            top: 5px
            left: 5px
            right: 5px
            bottom: 5px
            background-color: #848484
            border-radius: 50%
            opacity: 0
            transition: opacify .5s ease


.address-item
    margin-bottom: 8px


.form-box.member
    .form-group
        align-items: center

        &.align-top
            align-items: start

            .form-col:nth-child(1)
                margin-top: 8px

.form-box.member-form
    +maxPad
        .form-group
            flex-flow: column
            margin: 0
            margin-bottom: 15px
        .form-col
            flex: 100%
            max-width: 100%
            text-align: left !important
            padding: 0

        input.custom-input[readonly]
            padding: 0
            min-height: 40px

    +maxPad
        .form-group.cloumn-style
            display: flex !important
            flex-flow: wrap row
            align-items: center
            
            .form-col:nth-child(1)
                flex: 130px
                max-width: 130px
                margin-bottom: 0

            .form-col:nth-child(2)
                flex: calc(100% - 130px)
                max-width: calc(100% - 130px)