@import '_mixin'
@import '_service01'
@import '_service02'
@import '_service03'
@import '_service04'
@import '_service05'
@import '_service06'
@import '_service07'
@import '_member'

.service-01_womansCare,
.service-02_preventiveHealthcare,
.service-03_regenerativeMedicine,
.service-04_lipomassage,
.service-05_cheekLift,
.service-06_rhytidectomy,
.service-07_exosome
    .hero-banner_title
        position: absolute
        top: (250px / 587px) *100%
        left: (58px / 1330px) *100%
        text-align: center

        .text
            letter-spacing: 15px

        +maxPad
            top: (450px / 1388px) *100%

figure.photo
    img.desktop
        display: inline-block !important
        +maxPad
            display: none !important
    img.mobile
        display: none !important
        +maxPad
            display: inline-block !important

    &.change-text

        .before-after
            display: flex
            width: 100%
            max-width: 330px
            margin: 0 auto 30px

            div
                flex: 50%
                max-width: 50%
                min-width: 50%
                margin: 0

                &:nth-chid(1)
                    text-align: right
                &:nth-chid(2)
                    text-align: left

.service-article
    position: relative
    margin-bottom: 70px

    .anchor
        position: absolute
        top: -90px
        left: 0

    +maxPad
        margin-bottom: 40px

    &:last-child
        margin-bottom: 0

    .content
        max-width: 830px
        box-sizing: border-box
        margin: 0 auto
    .title
        font-size: 23px
        font-weight: bold
        text-align: center
        padding-bottom: 8px
        margin-bottom: 30px
        border-bottom: 1px solid #e9e9e9

        h3
            margin: 0

    .text
        color: #616161
        font-size: 15px
        line-height: 1.5
        margin-bottom: 18px

        +maxPad
            font-size: 16px

    .photo
        margin: 10px 0
        text-align: center

        img
            display: inline-block
            max-width: 100%

            // +maxPad
            //     transform: scale(1.5)

.point-group
    figure
        margin: 0
        width: 100%

    .icon
        color: #474747
        font-size: 16px
        line-height: 1
        display: flex
        align-items: center
        justify-content: center
        h4
            margin: 0
    .textbox
        color: #616161
        font-size: 15px
        line-height: 1.5
        box-sizing: border-box

        p
            margin: 0

        +maxPad
            font-size: 16px

    &.style-row
        .item
            display: flex
            margin-bottom: 20px
            align-items: center

            +maxPad
                align-items: start
                min-height: 100px

                p
                    margin: 0

            .icon
                flex: 88px
                min-width: 88px
                max-width: 88px

            .textbox
                flex: auto
                padding-left: 30px

    &.style-custom1
        display: flex
        margin-left: -15px
        margin-right: -15px
        margin-bottom: 30px

        +maxPad
            display: block
            margin-left: 0
            margin-right: 0
            margin-bottom: 15px

        +pad
            > .item
                flex: 33.3%
                max-width: 33.3%
                padding: 0 15px
                box-sizing: border-box

                &:nth-child(2)
                    flex: 66.6%
                    max-width: 66.6%

        +maxPad
            .item
                flex: unset !important
                display: flex
                align-items: start
                margin-bottom: 15px

                .icon
                    flex: 88px
                    min-width: 88px
                    max-block-size: 88px
                    margin-bottom: 0

                .textbox
                    padding-left: 30px
                    flex: calc(100% - 88px)

        .icon
            width: 88px
            margin: 0 auto 20px
        .textbox
            flex: auto
            padding-left: 0

        .inner-point-group
            align-items: start
            margin-left: -15px
            margin-right: -15px
            +maxPad
                display: block

            +pad
                .item
                    flex: 50%
                    max-width: 50%
                    box-sizing: border-box
                    padding: 0 15px

            +maxPad
                margin-left: 0
                margin-right: 0
                .item
                    flex: unset !important
                    display: flex
                    align-items: start

                    .icon
                        flex: 88px
                        min-width: 88px
                        max-block-size: 88px

                    .textbox
                        padding-left: 30px
                        flex: calc(100% - 88px)

    &.style-custom2
        display: flex
        margin-bottom: 30px
        +pad
            margin-left: -15px
            margin-right: -15px
            > .item
                flex: 33.3%
                max-width: 33.3%
                padding: 0 15px
                box-sizing: border-box

        +maxPad
            display: block
            margin-bottom: 15px
            .item
                flex: unset !important
                display: flex
                align-items: start
                margin-bottom: 15px

                .icon
                    flex: 88px
                    min-width: 88px
                    max-block-size: 88px
                    margin-bottom: 0

                .textbox
                    padding-left: 30px
                    flex: calc(100% - 88px)

        .icon
            width: 88px
            margin: 0 auto 20px

        .textbox
            flex: auto
            padding-left: 0

.inner-point-group
    display: flex

    +maxPad
        display: block

    .item
        .icon
            color: #474747
            font-size: 16px
            line-height: 88px
            text-align: center
            margin: 0 auto 20px
            h4
                margin: 0
        .textbox
            color: #616161
            font-size: 15px
            line-height: 1.5
            box-sizing: border-box
            text-align: justify
            +maxPad
                font-size: 16px

.mob-show
    display: block !important
    +pad
        display: none !important

.pc-show
    display: none !important
    +pad
        display: block !important

.anchorpoint
    text-align: center
    margin: 60px auto 40px
    max-width: 800px

    a
        display: inline-block
        padding: 0 20px
        position: relative
        color: #565656
        font-size: 23px
        line-height: 30px
        text-decoration: none
        margin-bottom: 10px
        transition: all .4s ease

        span
            position: relative

            &::after
                content: ""
                position: absolute
                bottom: -2px
                left: 50%
                width: 0%
                height: 1px
                transform: translateX(-50%)
                background-color: #86e0bb
                transition: all .4s ease

        &:hover
            color: #86e0bb

            span:after
                width: 100%

        &::after
            content: ""
            position: absolute
            top: 5px
            right: 0
            width: 1px
            height: 16px
            background-color: #b5b5b5

        &:last-child::after
            display: none

.about
    .hero-banner_title
        position: absolute
        top: (293px / 587px) *100%
        left: (379px / 1330px) *100%
        text-align: center

        .text
            letter-spacing: 15px

        +maxPad
            top: (420px / 1388px) *100%
            left: (650px / 1200px) *100%

.about-group
    margin-bottom: 100px
    max-width: 835px
    margin-left: auto
    margin-right: auto

    .color-title
        h3
            color: #91c0b7
            font-size: 23px
            font-weight: bold
            line-height: 1.5
            margin: 0
            text-align: center

            border-bottom: 1px solid #e9e9e9
            margin-bottom: 70px
            padding-bottom: 10px

        +maxPad
            margin-bottom: 30px

    .subtitle
        h3
            color: #91c0b7
            font-size: 20px
            font-weight: bold
            line-height: 1.5
            margin: 0
            margin-bottom: 10px

    .qa-block
        .qa-item
            margin-bottom: 20px

        p
            color: #616161
            font-size: 15px
            line-height: 1.5
            margin: 0
            margin-bottom: 5px
        .q
            position: relative
            padding-left: 20px
            font-weight: bold
            color: #6d9e95
            &::before
                position: absolute
                top: 0
                left: 0
                content: "Q."
                font-family: Century Gothic, Arial, Helvetica, sans-serif
                font-weight: bold

        .a
            position: relative
            padding-left: 20px
            &::before
                position: absolute
                top: 0
                left: 0
                content: "A."
                font-family: Century Gothic, Arial, Helvetica, sans-serif
                font-weight: bold

.store-list
    .title
        position: relative
        text-align: center
        margin-bottom: 35px
        &::before
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: 100%
            height: 1px
            background-color: #676767
            z-index: 1

    .item

        .col
            padding: 10px 40px
            box-sizing: border-box
            background-color: #fff

            +maxPad
                padding: 10px 20px

        +desktop
            display: flex

            .col
                &:nth-child(1)
                    flex: 227px
                    min-width: 227px
                    max-width: 227px
                    border-right: 1px dotted #d0d0d0

                &:nth-child(2)
                    flex: 425px
                    min-width: 425px
                    max-width: 425px
                    border-right: 1px dotted #d0d0d0

                    color: #616161
                    font-size: 15px
                    line-height: 1.5

    .storebox
        margin-bottom: 70px

    .msg,a
        color: #616161
        font-size: 15px
        line-height: 1.5
        text-decoration: none

        &:hover
            text-decoration: underline

        img
            margin-left: 10px
            vertical-align: middle

    .group .item
        &:nth-child(odd) .col
            background-color: #dfedeb

.ico-tel
    display: inline-block
    width: 35px
    height: 35px
    background: url(../images/ico-tel.png) no-repeat 0 0
    background-size: contain

.btn-tel
    vertical-align: middle

    i
        display: inline-block
        margin-right: 10px
        padding-right: 0
        vertical-align: middle

        +desktop_md
            margin-right: 10px
            border-right: 1px solid #b0b0b0
            padding-right: 16px

    a
        display: inline-block
        vertical-align: middle
        color: #616161
        text-decoration: none
        font-size: 20px

        +desktop_md
            font-size: 25px

.doctor-inner
    max-width: 835px
    width: 100%
    margin: 0 auto

    .photo
        margin: 0 auto 70px

        img
            max-width: 100%

.doctor-group
    margin-bottom: 60px
    position: relative

    .anchor
        position: absolute
        top: 0
        left: 0

        +maxPad
            top: -60px

    .banner
        position: relative

        img
            max-width: 100%

        span
            position: absolute
            top: 50%
            left: 320px
            transform: translateY(-50%)
            color: #80b5ab
            font-size: 35px
            font-weight: 300
            line-height: 1
            letter-spacing: 2px

            +maxPad
                left: 40%
                font-size: 26px
                letter-spacing: 1px

        &.color02
            span
                color: #f0aca1

        &.color03
            span
                color: #976e65

        &.color04
            span
                color: #f1be6e

        &.color05
            span
                color: #80b5ab

        &.color06
            span
                color: #f0aca1

        &.color07
            span
                color: #976e65

        &.color08
            span
                color: #f1be6e

        &.color09
            span
                color: #80b5ab

        &.color10
            span
                color: #f0aca1

    .detail

        h3
            color: #4b4b4b
            font-size: 18px
            font-weight: 500
            margin-bottom: 20px
            padding-bottom: 10px
            border-bottom: 1px solid #c7c7c7

        p,ol
            color: #616161
            font-size: 15px
            line-height: 1.8

        ol
            list-style: disc
            padding-left: 20px

    .flex
        display: flex
        margin-left: -15px
        margin-right: -15px

        +iphone
            flex-flow: column

    .flex-item
        flex: 50%
        max-width: 50%
        min-width: 50%
        padding: 0 15px
        box-sizing: border-box

        +iphone
            flex: 100%
            max-width: 100%
            min-width: 100%

#about-us
    .flex
        display: flex
        align-items: center
        margin-bottom: 60px

        +maxPad
            flex-flow: column
            margin-bottom: 30px

    .flex-item
        padding: 0 15px
        box-sizing: border-box

        +desktop
            &:nth-child(1)
                flex: calc(100% - 445px)
                min-width: calc(100% - 445px)
                max-width: calc(100% - 445px)

                color: #616161
                font-size: 15px
                line-height: 1.5
                text-align: right
                box-sizing: border-box

            &:nth-child(2)
                flex: calc(100% - 375px)
                min-width: calc(100% - 375px)
                max-width: calc(100% - 375px)
                box-sizing: border-box
                text-align: right
                padding-right: 60px

        +maxDesktop
            &:nth-child(1)
                margin-bottom: 30px
.about-us-timeline
    position: relative
    padding-top: 70px
    margin-bottom: 70px

    &:after
        content: ""
        position: absolute
        top: 0
        left: 50%
        width: 1px
        height: 70px
        background: url(../images/about-us-timeline.png) no-repeat 0 0

        +maxPad
            left: 40px

    &::before
        content: ""
        position: absolute
        top: 70px
        left: 50%
        width: 1px
        bottom: 20px
        background-color: #9f9f9f

        +maxPad
            left: 40px

    .timeline-group
        position: relative
        width: 100%

        +pad
            &.right .desc
                float: right
                padding-left: 30px
                padding-right: 0
                box-sizing: border-box
                text-align: left
    .year
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 80px
        height: auto
        color: #afcfb6
        font-size: 20px
        line-height: 30px
        font-weight: bold
        font-family: "Century Gothic"
        border: 1px solid #9f9f9f
        text-align: center
        margin: 20px 0
        background-color: #fff

        +maxPad
            transform: none
            left: 0

    .desc
        float: left
        width: calc(50% - 30px)
        color: #616161
        font-size: 15px
        line-height: 1.8
        padding: 20px 0
        min-height: 30px
        padding-left: 0
        padding-right: 30px
        box-sizing: border-box
        text-align: right

        +maxPad
            padding-left: 100px !important
            padding-right: 30px !important
            text-align: left
            width: 100%

        p
            margin: 0

    .clear:after
        display: block
        content: ""
        clear: both

.about-us-photo

    &.mb-50
        margin-bottom: 50px

    img
        display: block
        position: relative
        max-width: 100%
        z-index: 2

    &.shadow
        position: relative
        margin-bottom: 80px
        &::before
            content: ""
            position: absolute
            top: 40px
            right: -40px
            bottom: -40px
            left: 40px
            background-color: #ebebeb
            z-index: 1

            +maxDesktop_md
                top: 20px
                right: -20px
                bottom: -20px

        +maxDesktop_md
            padding-right: 20px
            padding-bottom: 20px

.about-us-bg
    position: relative
    width: 100%
    height: auto
    max-width: 1190px + 160px
    padding-left: 80px
    padding-right: 80px
    box-sizing: border-box
    margin: 0 auto

    +maxPad
        padding-right: 0
        padding-left: 0

    &:before
        content: ""
        position: absolute
        top: 270px
        left: -1000px
        right: 0
        height: 40%
        background-color: #ebebeb

        +maxPad
            top: 20%
            height: 25%

.timeline-arrow
    margin: 0 auto
    margin-top: 30px
    width: 13px
    height: 7px
    background: url(../images/about-us-arrow.png) no-repeat 0 0

    +maxPad
        margin: 0
        margin-left: 35px
