@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap')


body,html
    margin: 0
    padding: 0
    font-family: 'Noto Sans TC', sans-serif
    font-weight: 400

@import '_mixin'
@import '_footer'
@import '_index'


.fix-rightbottom-btns
    position: fixed
    bottom: 30px
    right: 30px
    width: 67px
    z-index: 50

    a
        display: block
        margin-top: 12px

    +maxPad
        display: none
        opacity: 0
        visibility: hidden

#loading
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    z-index: 5000
    background-color: #fff
    // display: none
    // opacity: 0

    .content
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        width: 433px
        height: 100px
        text-align: center

        +maxPad
            max-width: 300px
            transform: translateX(-50%) translateY(-60%)

        img
            display: block
            width: 110px
            height: auto
            margin: 0 auto

            +maxPad
                width: 80px
    .progress-bar
        position: relative
        width: 100%
        height: 1px
        background-color: #e1e1e1
        margin: 19px auto 0

    .progress-count
        position: absolute
        top: 0
        left: 0
        width: 0%
        bottom: 0
        background-color: #86e0bb

.container
    padding: 0 15px
    max-width: 1360px
    box-sizing: border-box
    margin: 0 auto

    +maxPad
        padding: 0 20px


.space-line
    width: 100%
    height: 1px
    &.white
        background-color: #fff

#main,#index-main
    padding-bottom: 100px

    +maxPad
        padding-bottom: 60px


.breadcrumbs
    position: relative
    margin-bottom: 45px
    margin-top: 15px
    color: #757575
    font-size: 13px
    line-height: 1.5
    
    &::before
        content: ""
        display: inline-block
        width: 4px
        height: 18px
        background-color: #86e0bb
        vertical-align: middle
        margin-right: 10px

    a
        display: inline-block
        color: #757575
        text-decoration: none

        &.disable
            pointer-events: none
        
        // &:first-child
        //     pointer-events: none

        &:hover
            span
                text-decoration: underline

        &:not(&:last-child)::after
            content: ">"
            color: #757575
            font-size: 13px
            line-height: 1.5
            margin: 0 10px

        &:hover::after
            text-decoration: none !important


.hero-banner
    width: 100%
    margin-bottom: 40px

    +desktop
        margin-bottom: 25px

    img
        max-width: 100%

    .container
        position: relative

    .desktop
        display: block
    .mobile
        display: none

    +maxPad
        margin-bottom: 20px
        .desktop
            display: none
        .mobile
            display: block

        .bg
            margin-left: -20px
            margin-right: -20px
    +desktop
        margin-bottom: 50px


    &.blog
        .hero-banner_title
            position: absolute
            bottom: (400px / 587px) *100%
            left: (15px / 1196px) *100%
            right: 0

            +desktop_md
                bottom: (370px / 587px) *100%

            +maxPad
                left: (105px / 1200px) *100%
                bottom: unset
                top: (506px / 1280px) *100%

        .custom-select

            +maxPad
                position: relative
                bottom: unset
                left: unset

            +desktop
                position: absolute
                bottom: 0
                left: 15px
                margin-left: 0

    &.news
        .hero-banner_title
            position: absolute
            top: (120px / 587px) *100%
            left: (430px / 1196px) *100%
            right: 30px

            +desktop_md
                top: (150px / 587px) *100%

            +maxPad
                left: unset
                right: 15px

        .hero-link
            +desktop
                display: inline-flex

        .hero-navigation
            max-width: unset
            margin-top: 20px
            display: block
            box-sizing: border-box
            margin-left: -15px
            margin-right: -15px

            nav
                display: block
                width: 100%

            li
                min-width: 50px
                text-align: center
                padding: 5px 15px

            +maxPad
                position: relative
                bottom: unset
                left: unset
                max-width: unset
                display: block

                li
                    min-width: unset
                    text-align: center
                    flex: 33.3%
                    max-width: 33.3%
                    box-sizing: border-box
                    
            +desktop
                position: absolute
                bottom: 0
                left: (410px / 1196px) *100%
                right: auto
                max-width: calc(100% - 410px)
                margin-left: 0
                margin-right: 0

                li
                    min-width: unset
                    text-align: left
                    min-width: 80px
                

    &.booking
        .hero-banner_title
            position: absolute
            top: (420px / 587px) *100%
            left: (433px / 1196px) *100%
            max-width: calc(100% - 404px)

            +maxPad
                top: (392px / 1345px) *100%
                left: vw(390px ,1200px)
                max-width: initial
                right: vw(53px ,1200px)

        .hero-navigation
            position: absolute
            bottom: 0
            left: (404px / 1196px) *100%
            right: auto
            max-width: calc(100% - 404px)

        .hero-banner_title .text
            color: #565656
            font-size: 19px
            line-height: 1.5
            +maxPad
                font-size: vw(36px ,1200px)
                letter-spacing: 2px

    .hero-banner_title
        .en 
            span
                display: inline-block
                color: #e7e7e7
                font-size: 50px
                font-weight: 300
                font-family: Century Gothic
                line-height: 1
                letter-spacing: 2px
                position: relative
                padding-bottom: 10px

                +maxPad
                    font-size: vw(123px ,1200px)

                &::after
                    content: ""
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
                    height: 1px
                    background-color: #e7e7e7
        .zh 
            span
                display: block
                color: #565656
                font-size: 23px
                font-weight: 400
                font-family: 'Century Gothic'
                line-height: 1
                letter-spacing: 10px
                position: relative
                padding-bottom: 10px

                +maxPad
                    font-size: vw(55px ,1200px)
                    letter-spacing: 8px

                &::after
                    content: ""
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
                    height: 1px
                    background-color: #e7e7e7

            

        a[href^=tel]
            color: #565656
            font-size: 28px
            font-weight: 300
            line-height: 1.5
            text-decoration: none

            +maxPad
                font-size: vw(65px ,1200px)

        .text
            color: #565656
            font-size: 24px
            font-weight: 300
            line-height: 1.5
            letter-spacing: 5px

            +maxPad
                font-size: vw(59px ,1200px)


.hero-link
    color: #565656
    font-size: 19px
    line-height: 1.5
    list-style: none
    padding-left: 0
    margin: 0
    display: flex
    flex-flow: wrap row

    li
        flex: auto
        padding: 0 30px
        position: relative
        &:not(&:nth-child(3n))::after
            content: ""
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: 0
            width: 1px
            height: 17px
            background-color: #b5b5b5

    a
        display: inline-block
        position: relative
        color: inherit
        position: relative
        text-decoration: none

        &::after
            content: ""
            position: absolute
            bottom: -1px
            left: 0
            width: 0%
            height: 1px
            background: #86e0bb
            transition: all .5s ease

        &:hover,&.active
            color: #86e0bb

            &::after
                width: 100%
        

.pagination
    display: flex
    align-items: center
    justify-content: center
    max-width: 660px
    margin: 50px auto


    .pagination_item
        flex: auto
        padding: 0 20px

        +maxPad
            padding: 0

        a
            display: inline-block
            color: #616161
            font-size: 15px
            line-height: 1.5
            text-decoration: none
            margin: 0 5px

            +maxPad
                font-size: 18px

            &:hover,&.active
                color: #a6e7cb

        &.pagination_prevbox,&.pagination_nextbox
            a
                position: relative
                margin: 0 15px

                +maxPad
                    font-size: 16px
                    margin: 0 10px
                    margin-top: 10px

                &:first-child:before
                    content: ""
                    display: block
                    position: absolute
                    top: 5px
                    right: -17px
                    width: 1px 
                    height: 16px
                    background-color: #dbdbdb


    +maxPad
        flex-flow: wrap row
        margin: 0

        .pagination_item
            order: 1
            flex: 100%
            max-width: 100%
            text-align: center
            padding-bottom: 10px

        .pagination_prevbox,.pagination_nextbox
            flex: auto
            order: 2

        .pagination_prevbox
            text-align: right

        .pagination_nextbox
            text-align: left
            
.image-list
    overflow: hidden

.image-auto-height_row
    // display: flex
    // flex-flow: row wrap
    margin: 0 -10px

    +desktop
        margin: 0 -15px
    +desktop_md
        margin: 0 -25px

    a
        color: #5a5a5a
        text-decoration: none

        &:hover
            text-decoration: none

            .title
                color: #5a5a5a
                text-decoration: underline

.image-auto-height_item
    width: 50%
    max-width: 50%
    margin-bottom: 50px

    +desktop
        width: 33.3%
        max-width: 33.3%
        margin-bottom: 50px

    +desktop_md
        width: 25%
        max-width: 25%
        margin-bottom: 50px

    .image-group
        display: block
        padding: 0 10px
        box-sizing: border-box

        +desktop
            padding: 0 15px
        +desktop_md
            padding: 0 25px

.image-list_row
    display: flex
    flex-flow: row wrap
    margin-left: -10px
    margin-right: -10px

    +desktop
        margin-left: -15px
        margin-right: -15px

    +desktop_md
        margin-left: -25px
        margin-right: -25px

.image-list_col
    flex: 50%
    max-width: 50%
    margin-bottom: 50px
    padding: 0 10px
    box-sizing: border-box

    +desktop
        flex: 33.3%
        max-width: 33.3%
        margin-bottom: 50px
        padding: 0 15px

    +desktop_md
        flex: 25%
        max-width: 25%
        margin-bottom: 50px
        padding: 0 25px

    a
        text-decoration: none

        &:hover .title
            color: #5a5a5a
            text-decoration: underline

.image-group
    .item
        padding: 0 10px
        display: block
        color: #5a5a5a
        text-decoration: none
        +desktop
            padding: 0 15px
        +desktop_md
            padding: 0 25px

        &:hover .title
            text-decoration: underline


    .title
        color: #5a5a5a
        font-size: 16px
        line-height-step: 1.5
        text-decoration: none
        margin: 0

    .date
        color: #616161
        font-size: 14px
        line-height: 1.5
        position: relative
        display: block
        margin: 10px 0 0
        &:after
            content: ""
            position: absolute
            top: 50%
            right: 0
            left: 90px
            right: 0
            height: 1px
            background-color: #9f9f9f

    .image
        width: 100%
        margin-bottom: 15px
        position: relative

        &:hover::before
            width: 100%
            
        &::before
            content: ""
            position: absolute
            bottom: 0
            left: 0
            width: 0%
            height: 5px
            background-color: #86e0bb
            z-index: 20
            transition: all .5s ease
        img
            width: 100%
            display: block

    
.footer_btn-scrolltop
    width: 38px
    margin: 0 auto 25px
    img
        display: block


.custom-select
    width: 177px

    select
        appearance: none
        outline: none
        border: 1px solid #b5b5b5
        width: 100%
        height: 36px
        color: #565656
        font-size: 19px
        line-height: 1
        letter-spacing: 2px
        padding: 0
        padding-left: 15px
        padding-right: 20px
        background: url(../images/ico-select-arrow.png) no-repeat right center


.custom-select-bg
    display: inline-block
    margin-right: 15px
    min-width: 110px
    box-sizing: border-box

    &:last-child
        margin-right: 0

    select
        appearance: none
        outline: none
        width: 100%
        height: 36px
        color: #565656
        font-size: 16px
        line-height: 1
        letter-spacing: 2px
        padding: 0
        padding-left: 15px
        padding-right: 30px
        border: none
        background:#f1f1f1 url(../images/ico-select-arrow.png) no-repeat right center
        box-sizing: border-box


.articlebox
    margin-left: -15px
    margin-right: -15px
    padding-bottom: 10px
    &_inner
        max-width: 840px + 30px
        padding: 0 15px
        margin: 0 auto

.articlebox_title-information
    margin-bottom: 20px

    &.date-right .date
        text-align: right
        &::after
            right: 90px
            left: 0

    .title
        color: #5a5a5a
        font-size: 23px
        line-height: 1.5
        font-weight: normal
        margin: 0
        margin-bottom: 8px

    .date
        color: #616161
        font-size: 14px
        line-height: 1.5
        position: relative
        display: block
        margin: 0

        &:after
            content: ""
            position: absolute
            top: 50%
            right: 0
            left: 90px
            height: 1px
            background-color: #9f9f9f
    
    p
        color: #616161
        font-size: 16px
        line-height: 1.5
        margin: 0

.articlebox_content
    color: #616161
    font-size: 15px
    line-height: 1.7

    +maxPad
        font-size: 16px

    p
        margin: 20px 0

    img
        max-width: 100%
        width: 100%
        padding: 0 15px
        box-sizing: border-box

        &.left, &.right
            margin-bottom: 20px
        &.full
            margin: 10px 0

        +desktop
            max-width: 300px

            &.left
                float: left
            &.right
                float: right

            &.full
                width: 100%
                max-width: 100%

    

    .group:after
        display: block
        content: ""
        clear: both

.responsive-video
    position: relative
    width: 100%
    padding-top: 56.5%

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


.article-pagination
    padding-bottom: 20px
    padding-top: 30px
    max-width: 500px
    margin-left: auto
    margin-right: auto
    display: flex
    align-items: center

    +desktop
        padding-bottom: 40px
        padding-top: 60px

    &_item
        flex: 60px
        align-self: flex-start

        .link
            color: #616161
            font-size: 14px
            line-height: 1.5
            text-decoration: none
            margin-top: 10px
            display: inline-block

        &:last-child
            text-align: right

        &:nth-child(2)
            flex: auto

    img
        vertical-align: text-top
        display: inline-block


a.btn
    border-radius: 5px
    background-color: #acacac
    display: block
    color: white
    font-size: 15px
    line-height: 40px
    text-align: center
    text-decoration: none
    max-width: 138px
    margin: 0 auto
    transition: all .5s ease
    user-select: none

    +maxPad
        border-radius: 0

    img
        margin-left: 5px
        vertical-align: middle

    &:hover
        background-color: #aed3cc


.remodal-overlay
    background: rgba(black,.85)
.lb-close
    position: absolute
    top: -40px
    right: 0
    width: 34px
    height: 34px
    background: url(../images/x.png) no-repeat 0 0
    background-size: contain
    cursor: pointer

    +desktop
        top: -40px
        right: -40px
.remodal
    position: relative
    border-radius: 0
    padding-top: 10px

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 7px
        background-color: #86e0bb
        
.remodal-wrapper
    padding-top: 60px

.modal-title
    color: #5a5a5a
    font-size: 24px
    font-weight: 300
    letter-spacing: 16px
    text-align: center

    h3
        font-weight: 300 !important

.modal-group
    margin-bottom: 30px
    h3
        margin: 0

    h4
        color: #5a5a5a
        text-align: left
        margin: 0
        font-size: 18px
        font-weight: 400
        margin-bottom: 10px

    p,a
        color: #5a5a5a
        font-size: 16px
        font-weight: 300
        line-height: 1.6
        text-align: left
        margin: 0

    a
        text-decoration: underline
    ol
        list-style: disc
        color: #5a5a5a
        font-size: 16px
        line-height: 1.6
        font-weight: 300
        text-align: left

@media only screen and (min-width: 1200px)
    .remodal
        max-width: 1020px


.store-list
    
    .title
        position: relative
        text-align: center
        margin-bottom: 35px
        &::before
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: 100%
            height: 1px
            background-color: #676767
            z-index: 1

        img
            background-color: #f5f6f3
            position: relative
            z-index: 2


    .item

        .col
            padding: 10px 40px
            box-sizing: border-box
            background-color: #fff

        +desktop
            display: flex
        
            .col
                flex: 33.3%

                &:nth-child(1)
                    border-right: 4px solid #fff

                &:nth-child(2)
                    border-right: 4px solid #fff
                

        color: #796060
        font-size: 18px
        line-height: 1.5

    .storebox
        margin-bottom: 30px

    .msg
        color: #696969
        font-size: 14px
        line-height: 1.5

    .group .item
        &:nth-child(1) .col
            background-color: #faded3
        &:nth-child(3) .col
            background-color: #f0ede6
.img-over
    position: relative

    .img-over_img
        position: relative

    .img-over_img
        position: relative
        overflow: hidden

        &::after
            content: ""
            position: absolute
            bottom: 0
            left: 0
            width: 0%
            height: 4px
            background-color: #afcfb6
            transition: all .4s ease
            z-index: 2

        img
            display: block
            position: relative
            z-index: 1 !important
            transition: all .8s ease

    &:hover
        .img-over_img:after
            width: 100%

        img
            transform: scale(1.1)


    